[2019-12-29 16:14] jameslittle230 opened #2 "Empty state is not handled properly in the UI."
The JS templating renderer should probably be smarter about not outputting empty DOM children. There's probably a way to hack this with CSS but that seems tricky.

[2020-01-04 22:49] #2 closed

[2020-01-18 02:42] jameslittle230 opened #6 "SRT File support"

[2020-01-18 02:43] jameslittle230 opened #7 "Better multi-word query handling"

[2020-01-18 02:44] jameslittle230 opened #8 "Add automated tests"

[2020-01-18 02:45] jameslittle230 opened #9 "Config should be able to take lists of files"
with wildcards, placeholders, etc

[2020-01-18 02:46] jameslittle230 opened #10 "Ignore or handle frontmatter"

[2020-01-18 02:46] jameslittle230 opened #11 "Index web content given a list of urls"

[2020-01-18 02:46] jameslittle230 opened #12 "Index content in titles"

[2020-01-18 02:58] jameslittle230 opened #13 "You should be able to brew install stork"

[2020-03-04 00:11] #13 closed

[2020-03-07 16:14] cloudspeech opened #15 "Demo: compress index to save network bandwidth"
The demo site https://stork-search.net/ downloads a 1.7M index of the Federalist Papers uncompressed over the network.

To better evaluate the impact of adding stork search to a static site, it would help to precompress said example index.

Brotli compression with default settings compresses the same index down to 322K.

[2020-03-07 16:21] cloudspeech opened #16 "Documentation: Index Format + Theory missing"
I would like to study the in-memory index format without reading through the Rust source first.

I also would like to get a basic grasp as to what theoretical approach to index-based search has been chosen (inverted index? what variant? which optimizations? etc.).

Please document these things if possible - that would be great!

[2020-03-07 20:33] jameslittle230 commented on #15
That's a solid plan. I briefly looked into different compression options, because I quickly realized that for whatever reason these index files are highly compressible. I'll close this issue when the CDN starts doing that compression!

[2020-03-07 20:34] jameslittle230 commented on #16
Definitely! The index format isn't currently all that complex, but as I optimize it I'll definitely put some documentation out there, likely as part of a contribution guide.

[2020-03-14 21:12] jameslittle230 opened #20 "[basic.css] Result selector isn't specific enough for link coloring"
The `color: currentcolor` style is being lost, since the selector only selects for `a` and not `a:link` or `a:visited`.

[2020-03-14 23:36] #20 closed

[2020-03-28 20:49] #7 closed

[2020-04-01 09:57] davidhewitt opened #26 "Usage in Rustdoc"
The Rust language docs also use a search index. At the moment it's a custom piece of JavaScript. I wonder if Stork could be of interest to use in Rustdoc.

You might find it interesting to chip in on the internals thread https://internals.rust-lang.org/t/rustdoc-use-stork-search-index/12057

[2020-04-01 15:48] t-yng opened #27 "config toml file samples in demo pages are missing [input] key"
sample toml files in demo site are missing [input] key.

* https://stork-search.net/
* https://stork-search.net/docs/

[code]

[2020-04-01 16:39] grenierdev opened #28 "Support for stemmer algo"
Might be a good idea to index the word using a stemmer algo.

There's a [Rust implementation](https://github.com/CurrySoftware/rust-stemmers) that could be easily integrated within Stork.

[2020-04-02 04:27] jameslittle230 commented on #27
Hi! Thanks for letting me know. I've fixed the config files on the site.

[2020-04-02 04:27] #27 closed

[2020-04-02 04:44] jameslittle230 commented on #28
Hey, that's a really good idea, definitely one I was hoping to get to someday.

That link might turn someday into a day much closer than I originally expected. :)

I'm going to close the issue (sorry) but will let you know when stemming functionality gets released!

[2020-04-02 04:44] #28 closed

[2020-04-02 04:50] jameslittle230 commented on #26
Hey, that's a good idea! I've reached out on the thread.

[2020-04-02 04:50] #26 closed

[2020-04-02 07:08] t-yng commented on #27
Thanks for fix. 😄

[2020-04-06 17:57] ngirard commented on #15
Hey @jameslittle230, out of curiosity: have you considered using [fst](https://github.com/BurntSushi/fst) as the data structure for your index ?

[2020-04-06 18:03] jameslittle230 commented on #15
@ngirard I have not (hadn’t heard of it), and from a quick glance, I can’t tell what the benefit would be. Can you tell me more about how it might make Stork better?

[2020-04-06 18:38] ngirard commented on #15
@jameslittle230, TBH I haven't given much thought about it. It just popped out of my mind as I was skimming through your project's pages and read that your index files were being lengthy.
Since `fst` [can produce compact indices](https://blog.burntsushi.net/transducers/), I thought it could help, but I might very well be wrong!

[2020-04-07 16:00] jameslittle230 commented on #15
@ngirard - that makes sense. I was taking another look at it last night and was trying to think about where it slots in — I have some ideas that I want to try out.

Thanks for letting me know about the library — much appreciated. :)

[2020-04-07 16:07] ngirard commented on #15
@jameslittle230, in any case I'm glad I introduced you to this nice crate.

And thank you for involving your time into this nice project of yours.

Cheers & take care !

[2020-04-21 03:35] jameslittle230 commented on #15
Coming back to the compression aspect of this: [it looks like I'll have to](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html#compressed-content-S3-origin):

1. Set up infrastructure to compress the files automatically on every deploy
1. Use that infrastructure to upload uncompressed, gzipped, and brotli'd files to S3
1. Write (or lift) up a Lambda@edge

[2020-04-21 03:36] jameslittle230 commented on #16
Closing this issue for now -- I'll put something like this out there once Stork is out of beta.

[2020-04-21 03:36] #16 closed

[2020-04-30 17:51] #6 closed

[2020-05-01 19:46] jameslittle230 commented on #8
Added some tests for checking past configs and past indexes. I think I'm good here (at least in terms of the spirit of how I originally wrote this)

[2020-05-01 19:46] #8 closed

[2020-05-01 22:06] #12 closed

[2020-06-16 09:42] kvz opened #45 "binary operation `==` cannot be applied to type `std::string::FromUtf8Error` upon install"
Hi there, cool project you got going! Wanted to kick its tires but got this:

[code]

Does that ring any bell?

[2020-06-18 01:09] jameslittle230 commented on #45
No, thanks for letting me know! I'll look into it and check back.

[2020-06-18 05:21] jameslittle230 commented on #45
Hey, thanks for being patient.

I was surprised to learn that `FromUtf8Error` [only started implementing `PartialEq` five months ago](https://github.com/rust-lang/rust/commit/847d5b4d1387a30f1798a5c3c59c3e0c31e00319). I'd be curious to know if you're using a Rust version from >5 months ago -- if so, you might have to run `rustup update` to get Stork to build and run.

To make sure nothing was goin

[2020-06-25 10:41] lukethacoder commented on #45
Ran into the same issue with version `rustc 1.40.0 (73528e339 2019-12-16)`.

running `rustup update` did nothing.

try setting the default rustup toolchain. `rustup default INSERT_TOOLCHAIN_HERE`.
Running the above returned this "info" message:
[code]

Running `rustup override set stable-i686-pc-windows-msvc` solved my issues and successfully updated me to `rustc 1.44.1 (c7087fe00 2020-06-17)` (la

[2020-06-26 00:04] jameslittle230 commented on #45
ah, thanks, @lukethacoder. Sorry you hit that, but glad you were able to figure out how to resolve it.

I'll leave this issue open for a bit more time for visibility, but will close it in a week or so.

[2020-07-03 17:28] giovannibonetti opened #48 "Feature request: multi-language support 📚 🔡"
Hi! Thanks for the great project!

I see the [stemming configuration is _hardcoded_ to English](https://github.com/jameslittle230/stork/blob/8f34e0294e6bc585d55ce872189ce15579539da6/src/config/stemming_config.rs#L17).

Is it in the roadmap to make it configurable for other languages?

[2020-07-03 17:38] jameslittle230 commented on #48
Hi! Thanks for writing in.

Stork supports multi-language stemming support today, on either a per-index or per-file basis. You can set the `stemming` option in your configuration file to any of the languages supported by [Snowball Stem](https://snowballstem.org):

[code]

You can also change the stemming language on a given file independently:

[code]

For more information, check out the [Configur

[2020-07-03 17:40] jameslittle230 commented on #48
Wanted to also point out — the line you linked to shows that the default is English, not that the value has been hardcoded.

[2020-07-03 17:40] #48 closed

[2020-07-03 17:40] #45 closed

[2020-07-03 18:06] giovannibonetti commented on #48
Thank you for the reply! 👍

[2020-08-13 00:44] #10 closed

[2020-08-18 03:34] amilajack opened #59 "feature: fuzzy search"
Hey @jameslittle230 , awesome project! I tried the demo and i really like the quality of search results. I'd love to know what your thoughts are on adding fuzzy search to the project to make the results even better 😃

[2020-08-18 03:41] jameslittle230 commented on #59
@amilajack -
Thanks for writing in! Really glad you've been enjoying Stork! I'd definitely love to add fuzzy search at some point. Just so I can gauge (and because I've seen a few different definitions out there), what does fuzzy search mean for you?

James

[2020-08-19 00:56] amilajack commented on #59
Yea its I definitely agree thats its a pretty ambiguous term. By it, i mean that users could search for a term and slightly misspell the search but still have the reasonable results be returned:

![image](https://user-images.githubusercontent.com/6374832/90579865-21f32a80-e17c-11ea-8044-1130c0b92242.png)

[2020-09-20 21:37] setop opened #69 "at some point, content stops being indexed"
Hi,

Thank for this great tool. I'm starting to integrate it into my blog.

However, it seems that very small portion of each file is indexed. After further investigation it seems to stop at the first character not being a letter or a digit or space.

To confirm that I've created a text of plain English. Just by putting a double quote (") alone anywhere in the middle, it stops the indexation. Mean

[2020-09-20 21:48] jameslittle230 commented on #69
@setop --

This is _definitely_ not what's supposed to be happening -- thanks for pointing it out.

I'll try to have a hotfix released as soon as I can.

Best,
James

[2020-09-21 00:20] jameslittle230 commented on #69
@setop,
I've managed to reproduce the bug, and am working on a fix.

[2020-09-21 01:25] jameslittle230 commented on #69
@setop ,
I've released [Stork 0.7.4](https://github.com/jameslittle230/stork/releases/tag/v0.7.4) with (what I think is) a fix for the bug you've described.

If you get a chance, please update your installed version of Stork, rebuild your index, and let me know if the bug has been fixed for you.

Thanks again,
James

[2020-09-21 07:33] setop commented on #69
You're fast at fixing !

Yes it seems to work perfectly.

Thanks a lot.

[2020-09-21 15:32] jameslittle230 commented on #69
@setop -

Thanks for reporting the bug -- I really appreciate it.

If you have any more feedback, questions, or bug reports as you work with Stork, I'd love to hear from you.

James

[2020-09-21 15:32] #69 closed

[2020-10-15 04:41] DenialAdams opened #73 "Requiring 3 characters to perform a search works poorly for logographic corpora"
### Code
Relevant typescript:
https://github.com/jameslittle230/stork/blob/db1b958ab99d4501e4db21513b495e2099bc23eb/js/entity.ts#L134

But I don't know if this affects indexing as well, or if it's strictly a search interface issue

### Details
I have a corpus of documents which are mixed Chinese/English. Searching for the English "cat" works well. However trying to search for the Chinese character

[2020-10-15 06:46] jameslittle230 commented on #73
Hey @DenialAdams! Thanks for writing in, hope Stork is working well for you so far despite this!

I'll have to noodle on this issue for a bit. If a corpus gets too large, Stork has a lot of trouble searching for any query less than three characters: the index file size itself gets pretty big and the search algorithm can get kind of slow.

I think (off the top of my head, not looking at code) that

[2020-10-15 12:42] DenialAdams commented on #73
Interestingly (and I only thought to try this out this morning), if I use the CLI to search (bypassing the >= 3 requirement) I do get some results with a one character search. Well... I get exactly *one* result. I suspect this is because that's the only time this character appears alone, i.e. with whitespace on either side of it. A cursory look at the code seems to confirm that:

https://github.co

[2020-10-15 14:25] DenialAdams commented on #73
I did some profiling and was able to easily cut 3 hours down to 1 min (PR incoming), so this is much less of a concern for me now :)

[2020-10-15 16:34] DenialAdams commented on #73
Here's a prototype for this approach:
https://github.com/DenialAdams/stork/commit/fa2b24dc6ffe8f8da11d60d1f95acfc50930e58b

Let me know what you think of it, so far it's really improved the search results but the searches do take a little longer now (worth it to me)

[2020-10-15 16:49] DenialAdams opened #75 "Allow result noun displayed in DOM to be configurable (currently "file")"
In the list of search results, the noun is currently hardcoded as "file" and "files":
https://github.com/jameslittle230/stork/blob/db1b958ab99d4501e4db21513b495e2099bc23eb/js/entity.ts#L46-L53

But I would like to be able to set it to "entry" and "entries" (or maybe "result" and "results"), as I'm embedding Stork as more of a dictionary search than a file search

[2020-10-21 05:19] jameslittle230 opened #78 "Allow expanded height to be configurable in JS options"

[2020-11-03 03:46] #78 closed

[2020-11-06 02:48] #73 closed

[2020-11-24 08:20] talolard opened #84 "Question/Feature : Build an index in the browser"
**Is your feature request related to a problem? Please describe.**
I'd like to let my users upload a JSON/csv of documents and build an index in the client.

**Describe the solution you'd like**
A webassembly engine for building indexes and the JS APIs for it.

**Describe alternatives you've considered**
I currently use [NDX](https://github.com/ndx-search/ndx) and build the index in a webworker.
I

[2020-11-25 17:26] jameslittle230 commented on #84
Hey, thanks for writing in! This is not something that Stork supports today, nor is it on the roadmap, but I'll keep it in mind for future work.

Going to close the issue, but feel free to reopen and add comments if you have any more thoughts or questions!

Best,
James

[2020-11-25 17:26] #84 closed

[2020-12-21 08:36] korshavn opened #89 "Include HTML meta "keywords" tag in search index"
Hello James! Your work is impressive! - Stork is really great already, I love it and hope you will expand it and possibly get more people like yourself developing and maintaining it. That last point (of being a one-man side project) is the main reason my employer is reluctant to make the company use Stork. Otherwise we love the architecture and how it all works.

Just adding this feature request (

[2020-12-21 08:43] korshavn opened #90 "Search result grouping by a key (e.g. version number)"
Hi. I would love to have some influence of groupings of the search result, for example by page version or sub-tree.

The best example I can show is from the docs.antora.com search result panel:

<img width="386" alt="search-result-sample" src="https://user-images.githubusercontent.com/462345/102756824-be1e7f80-4370-11eb-862f-7720fee1854f.png">

The search result in the picture above is nicely arra

[2020-12-21 08:49] korshavn opened #91 "Integration with Antora"
As part of this element in the roadmap:
"Write and publish some integrations with other projects, e.g. various static site generators, Wordpress, etc."

Antora is a popular tool for generating static web sites with documentation written in Asciidoc. I have already integrated Stork in a proof-of-concept with our setup and would love to see more support specifically for Antora.

One specific wanted

[2020-12-22 01:21] jameslittle230 commented on #89
Thanks for writing in, @korshavn! To clarify: when Stork is indexing HTML files, this suggestion is requesting that [`<meta name="keywords" />`](https://ahrefs.com/blog/meta-keywords/) terms are indexed alongside a file?

That sounds like a good idea! I'll add it to my feature list :)

James

[2020-12-22 01:24] jameslittle230 commented on #90
I'd definitely like to enhance the search results view at some point, and custom groupings seem like a solid enhancement when I get there. I'm closing the issue as per Stork's feature request policy, but I'll put this on my list and build this eventually!

[2020-12-22 01:31] jameslittle230 commented on #91
Antora definitely looks like a project that would make sense for a Stork integration.

Being realistic - project-specific integrations take time, and I'll likely invest the next few chunks of time improving Stork itself, rather than building external integrations. If there are specific pain points you have integrating with Antora that I can address in the meantime, I can evaluate them separately,

[2020-12-28 01:44] reese opened #92 "Uncaught assertion errors in `selectResult`"
Congratulations on the 1.0 🎉  Just something I noticed while looking at this for my personal site:

## Steps to reproduce

1. Visit <https://stork-search.net>
2. *While the search bar is still loading*, type anything and hit Enter.
3. Check console for uncaught error.

Browser versions: Firefox Nightly 86.0a1 (2020-12-27), Firefox Stable 82.0.2, Chrome Version 87.0.4280.88

The error happens [here

[2020-12-28 04:28] DanilaFe opened #94 "Highlights 'off' in some searches"
Hi! Congrats on the recent 1.0 release. Stork is looking pretty good!

I'm running into a strange highlight issue while integrating stork into my site. I'm able to get it to load the index and search, but when I get results, the `stork-highlight` elements seem misplaced. Here's what it looks like:

![Screenshot_2020-12-27 Daniel's Blog(4)](https://user-images.githubusercontent.com/4361282/10318931

[2020-12-28 04:47] DanilaFe opened #95 "Some words not searchable"
Hi!

I'm running into an issue where I'm unable to search for certain words in my index; in particular, I seem to run into issues with "intro" and "polymorphism". I have a series of blog posts. When I search them by number, their titles show up in the search list:

![Screenshot_2020-12-27 Daniel's Blog(6)](https://user-images.githubusercontent.com/4361282/103189852-796c7a00-4883-11eb-8e13-617e1dd8

[2020-12-28 13:26] Arjan321 commented on #95
I seem to have a similar issue where looking for "gallery" results in no results, despite 83 occurrences in the source Markdowns

[2020-12-28 14:55] fauno opened #96 "proposal: Jekyll plugin"
Hi! Thanks for your work! We've been looking for something like this :) We're currently using lunrjs but indexing uses a lot of RAM and time, and we've had some issues with Spanish stemming. Stork just indexed 1100 pages in 2s. We're looking forward to further test stork!

I'm opening this issue because I think it would be interesting to build a Jekyll plugin that can:

* Dynamically generate a co

[2020-12-28 16:32] #92 closed

[2020-12-28 17:01] jameslittle230 commented on #95
This is bizarre! I'm tracking down the bug now, and will let you know when this is fixed!

[2020-12-28 17:25] jameslittle230 commented on #95
@DanilaFe - would you mind sending your config file over? I have a hunch about what the issue is but if I know how your index is being generated, it'll help me narrow down the options faster.

Appreciate it (and thank you for such a thorough bug report!)

James

[2020-12-28 18:10] #95 closed

[2020-12-28 18:11] jameslittle230 commented on #95
Reasonably sure that #98 fixes this bug. I'll release this in 1.0.1 today -- you'll have to rebuild your index after upgrading to see the fix.

Let me know if this fixes the bug you're seeing, otherwise, please feel free to reopen the issue and I'll see what I can find!

[2020-12-28 18:36] DanilaFe commented on #95
Thanks for taking a look so quickly! I will upload the configuration file and some corresponding markdown posts (as well as reopen the issue) if the bug persists.

[2020-12-28 19:48] itamarst opened #101 "Self-hosted installation"
Hi,

I'd rather host the JavaScript for Stork on my domain; given I'm already on Netlify with its own CDN, opening more HTTP connections seems unnecessary. In addition, having a specific version means I can upgrade on my own schedule (versioned CDN URLs would help with the latter, but I'd still prefer self-hosted).

It sounds from the docs like this is not possible now, but it would be cool if it

[2020-12-28 20:41] itamarst opened #102 "Only download index + WASM when someone actually searches"
Hi,

Making some progress getting going, and it looks like WASM is 400KB, index for my site is 600KB (gzipped it's 200KB, so hopefully CDN will shrink it down to the latter). Even so, this is still a bunch of downloads for someone who isn't actively using search, and it seems like both get downloaded automatically even for users who aren't searching.

There's some work that could be done to shrink

[2020-12-28 20:43] itamarst commented on #96
Here is a `config.toml` file that renders via `jekyll build`; just drop it in your Jekyll site, do `jekyll build`, and then you can do `stork --build _site/config.toml`.

[code]

[2020-12-28 23:41] jameslittle230 commented on #94
@DanilaFe -

I've tracked down the bug -- I was counting bytes, not unicode characters, to derive the highlight offset. Your content uses `’` (`U+2019`, AKA `RIGHT SINGLE QUOTATION MARK`), which happens to take up two bytes if you count its length in Rust.

I've (written a test for this and) switched to a UTF-8-safe character counter. I can then verify with your index that it's highlighting `Compi

[2020-12-29 01:44] #94 closed

[2020-12-29 05:45] DanilaFe commented on #94
Seems to work with the latest version. Thank you!

[2020-12-29 06:06] chmaynard commented on #96
This looks great. When this plugin executes, has the Liquid code in each post already been rendered into HTML?

[2020-12-29 06:16] chmaynard opened #104 "Fatal error when parsing curly quotes in config.toml"
U+201C and U+201D are left and right double quotation marks. Stork 1.0.0 doesn't seem to like them in the config.toml file.

```Could not generate index: unexpected character found: `\u{201c}` at line 4 column 17```

[2020-12-29 13:14] itamarst commented on #96
No, you'll notice the path it's including is the path to the original (presumably markdown) post. You could change it to point at the rendered HTML instead, however, by changing `{{ post.path }}` to... something else, not quite sure how but should be doable.

[2020-12-29 13:31] fauno opened #105 ""HTML selector is not present in the document""
While writing jekyll-stork #96 I found out that indexing HTML requires the `<main>` tag to be present, but it seems that if a single page doesn't have it the whole indexing fails.  The error is not very helpful, I had to read the code to find out about the `<main>` tag.

The issue is that it doesn't tell me which page is missing it. Could it tell the path and maybe even skip the page?

I'm wonderi

[2020-12-29 13:38] fauno commented on #96
Well, here it is, would you try it and tell me how it goes? :)

https://rubygems.org/gems/jekyll-stork

@itamarst thanks for the suggestion, I didn't use Liquid but generated a temporary file from Ruby.

I prefered to index the generated pages instead of the source files (`post.path` leads to the source file), but I found out #105.  It requires your theme to put content inside a `<main>` tag for e

[2020-12-29 13:53] fauno commented on #89
What about other metadata such as microformats, schema.org, etc? (Suddendly Stork turned into portable Google :P)

[2020-12-29 13:57] chmaynard commented on #105
Private communication with the author confirms this:

An HTML selector is a way of identifying a specific HTML tag (or a group of tags), much the way you might do in CSS: you write `.myClass` to identify all the elements with the class of `myClass` or `div#thisId` to get the <div> element with the ID of `thisID`, etc. For more information, see this link[0]

When indexing HTML files, Stork will par

[2020-12-29 14:20] fauno commented on #105
Thanks! I understand why it's done like this, the issue is that Stork doesn't tell you which file is missing the tag and it cancels the whole indexing altogether.

[2020-12-29 14:58] fauno commented on #101
Also browsers are in the process of partitioning caches, so the gains from hosting the js+wasm files on a single server are going to disappear.

Reference: https://developers.google.com/web/updates/2020/10/http-cache-partitioning

[2020-12-29 15:05] fauno commented on #102
Just to add that the wasm file can be compressed down to 93K (not sure if `ls` is using KB or KiB) using `brotli -9`.  The site I tested has 600 articles and produced a 5.5M index, maybe it can be "sharded"? For instance having a small index that points to subindices, splitting them by first character.

Even though it's interesting to have the full index for offline searchs :)

[2020-12-29 16:49] jameslittle230 commented on #105
Thanks for reporting, @fauno,  and thanks for clarifying what's going on @chmaynard! I have some docs work to do to describe Stork's HTML document handling (and the corresponding `html_selector` configuration option), but this is also a bug that I'll try to get out in 1.0.2 today.

Best,
James

[2020-12-29 16:54] jameslittle230 commented on #102
Self-hosted Stork is definitely on my list - that's been the most resounding piece of feedback following the 1.0.0 launch. I completely recognize the value of self-hosting Stork, but intentionally wanted to focus on the no-code users at first.

For now (and I haven't tried this for self-hosting, so use at your own risk) -- the whole project (including the final JS file and the WASM blob) can be bu

[2020-12-29 16:54] reese commented on #104
Do you have an example TOML to reproduce this? I would imagine this is an error coming from the `toml` crate, but that crate is pretty heavily used so having a minimum test case here would be helpful.

[2020-12-29 17:21] chmaynard commented on #104
If the TOML specification states that string values must use ASCII quotes, then I think we can simply close this issue as not to be fixed.

[2020-12-29 17:24] reese commented on #104
Based on [the spec](https://toml.io/en/v1.0.0-rc.3#string), it does look like Unicode quotes can only be _inside_ the string and that yes, the surrounding quotes have to be ASCII quotes, so I agree that this should be good to close.

[2020-12-29 17:28] jameslittle230 commented on #104
Thanks for the investigation & clarification - I was interpreting the question as asking about curly quotes _within_ a quoted TOML string, which _should_ be valid. But curly quotes to delimit a string value in TOML itself is not.

[2020-12-29 17:28] #104 closed

[2020-12-29 17:44] chmaynard commented on #105
To fix this problem in my Jekyll project, I added `<main>` to the `default.html` layout as follows:
[code]

[2020-12-29 18:23] jameslittle230 commented on #102
I wonder if it's possible to delay the `stork.register()` call until someone hovers or focuses in the input. That should be possible from within user-space if you want to do this today, though I could also create a configuration option in the register method to delay any downloading until the user hovers or focuses.

This wouldn't affect the WASM download (I'd have to do that within Stork), but it

[2020-12-29 18:24] jameslittle230 commented on #101
Self-hosted Stork is definitely something I want to build! I've been focusing on a more low-code experience for the 1.0.0, but I completely recognize the value of self-hosting code.

For now (and I haven't tried this for self-hosting, so use at your own risk) -- the whole project (including the final JS file and the WASM blob) can be built from source. Tweaking the build a little bit would probabl

[2020-12-29 20:41] #105 closed

[2020-12-29 23:36] jameslittle230 commented on #101
There are a few bits of friction that I'd like to solve before advertising self-hosted Stork as a supportable integration:
- Documentation that describes how to serve WASM files correctly. All modern browsers require that WASM files must be served with a `Content-Type: application/wasm` header. For Netlify, this isn't [too complicated to specify](https://docs.netlify.com/routing/headers/), but I d

[2020-12-30 09:18] chmaynard commented on #96
`$ gem install jekyll-stork`

ERROR:  Error installing jekyll-stork:
	jekyll-stork-0.1.0 requires Ruby version ~> 2.6. The current ruby version is 3.0.0.0.

[2020-12-30 13:14] chmaynard opened #108 "cargo install takes minutes to run"
I use Homebrew to upgrade Stork. It takes minutes to install and `cargo install` makes my laptop fan run at high speed. What exactly is going on? Is `cargo install` really required for each minor release? Just asking.

[2020-12-30 14:12] jameslittle230 commented on #108
Hey @chmaynard -

The Homebrew tap was set up before I started automatically building macOS binaries for each release, so Homebrew doesn't distribute Stork as a [bottle (compiled binary)](https://docs.brew.sh/Bottles), it builds Stork from source every time. `cargo install` is [the Rust build system](https://doc.rust-lang.org/book/ch01-03-hello-cargo.html), so that's why it takes a while & takes a

[2020-12-30 14:30] fauno commented on #96
thanks! please upgrade the gem to 0.1.1 :)

[2020-12-30 15:42] jameslittle230 opened #109 "JS register method displays the wrong error message if output element isn't queryable"
Repro:
Register Stork on a page with the following HTML:

[code]

Error message in console will reference a missing input element, not a missing output element.

[2020-12-30 15:46] karlwilcox opened #110 "Helpfully handle hyphens"
James, excellent piece of work, thank you. I have incorporated into the search function for a gallery of user-submitted coats of arms (https://drawshield.net/gallery/)

My suggestion might be covered by your goal of "fuzzy" search, but a simple "quick hit" might be to treat hyphenated words as separate tokens (unless the hyphen is at the end of a line, perhaps). At the moment a search for "Hull" d

[2020-12-30 15:55] jameslittle230 commented on #110
@karlwilcox - I like this idea! In prose, hyphens and spaces often serve similar purposes (at least in the context of splitting up words to search for). I might want to poke a bit to make sure there aren't any weird edge cases, but I think this would go a long way to improving search behavior

Also - your site looks really cool -- exactly what the internet should be used for :)

[2020-12-30 17:42] chmaynard commented on #108
Great, thanks.

[2020-12-30 17:48] chmaynard commented on #96
Perfect, thanks.

[2020-12-30 17:51] jameslittle230 commented on #96
Hi all! This looks like really good work - glad you've found Stork helpful, and I'm really excited to see people building on top of it! I'm just popping in to say that I'm converting this to a Github Discussion instead of an issue -- hope that works for folks.

[2020-12-30 17:52] #96 closed

[2020-12-31 23:53] jameslittle230 opened #116 "Stork JS adds a <ul> to the dom while the index is loading"
Something in the DOM logic is making it so the output div has a `<ul class="stork-results">` child until Stork fully loads, at which point the child is removed from the DOM. This is a little rough, because the default theme has some styling that makes that `<ul>` visible.

You can see this on <https://jameslittle.me>, and it looks pretty rough.

- [ ] Fix this bug, but then...
- [ ] Figure out why

[2021-01-01 14:43] vprdnew opened #117 "Config should acept folder path and index all files pr by extension inside the folder"
The config can have the feature to pick the files inside the folder mentioned which will reduce the process of integration. We found it difficult while working with MD files indexing of more than 2k numbers.

Thanks!

[2021-01-01 16:24] jameslittle230 commented on #117
Hi @vprdnew! I'm going to close this as a duplicate -- I think this is the same feature request as #9!

The "filter by file extension" thing is a good addition, though, and I'll add a note to the other issue so they can be tracked together.

Thanks for writing in!
James

[2021-01-01 16:24] #117 closed

[2021-01-01 16:25] jameslittle230 commented on #9
All files _with a certain file extension_ within a directory should be indexable, with just the path of the directory given

[2021-01-01 20:59] #110 closed

[2021-01-01 21:01] jameslittle230 commented on #110
This will be released in version 1.0.3!

[2021-01-01 21:11] #109 closed

[2021-01-01 21:11] #116 closed

[2021-01-05 12:38] reese opened #124 "Cut down on WASM file size by removing Debug implementations."
I used [`twiggy`](https://github.com/rustwasm/twiggy) to take a look at the WASM file size for Stork, and it looks like a pretty big chunk of the file size is from `Debug` implementations.

[code]

More importantly though, the Debug implementations are almost entirely unused in the WASM binary:

[code]

For the most part, I think implementing `Display` on the types needed for printing error messag

[2021-01-05 20:39] reese commented on #124
_Actually_ I think I'm wrong on this, I ran this on the wasm compiled in `target/`, but the files in `dist/` are _really_ what matters and they don't seem to have this issue. I believe `wasm-pack` strips debug information by default, which would explain that discrepancy. Going to close this out, apologies for the noise 🙇

[2021-01-05 20:39] #124 closed

[2021-01-05 23:46] jameslittle230 commented on #124
@reese - I saw this issue come in this morning and got very excited! Sorry that it didn't end up working out.

I used twiggy a few months ago, but this is a good reminder that I should go over it again and do an audit -- there are definitely parts of the main Stork repo that shouldn't get included in the WASM build.

Thanks for writing in! :)

[2021-01-05 23:55] reese commented on #124
Yeah for sure, I was messing around with twiggy and thought this would be a good test option, but once I spent a little bit trying to build a few different options, it unfortunately wasn't as easy of a win as I thought at first. I might poke around with it some more since it _does_ mark about 50kb of `potential false-positive data segments`, but the current file is pretty manageable as is anyways!

[2021-01-08 18:24] jakearlen879 opened #126 "Demo website is not working"
Hi,

The demo website (https://stork-search.net) is not working. I have the following errors in the Chrome console:

![image](https://user-images.githubusercontent.com/74742569/104050308-ba9b4d00-51e6-11eb-890a-a2138557214b.png)

I also tried on Firefox and in Incognito mode.

[2021-01-09 01:20] jameslittle230 commented on #126
Hi @jakearlen879 - can you describe what sort of browser setup you're using? I see the site making requests to `codota.com` and to Google Analytics, and I see code being run from Jquery and `livecode-util.js`, none of which are part of the Stork Site code (you can audit yourself by seeing the source code of the site at this repo: https://github.com/stork-search/site)

Given that the site seems to

[2021-01-10 17:27] em- commented on #126
It's not working for me either with Firefox 84.0.1/Linux, but I get no specific error on the console so I assume it is a different issue (let me know if you prefer I open a separate ticket)

In my case, typing in the search box does not make the dropdown show up at all. In the console there's a 404 on https://stork-search.net/icons/icon-512x512.png but I'd be surprised if it was related. An `entit

[2021-01-10 17:38] reese commented on #126
I think that 404 is unrelated, and that `entityManager` also prints for me on a successful load -- I'd assume that's just a stray `console.log`. Do either of you have some kind of extensions installed?

I'd also be curious about what OS @jakearlen879 is using in case that could have something to do with it. I tried to reproduce on Firefox 84 and Chrome 87 but it worked for me even when clearing th

[2021-01-11 09:24] stjepangolemac opened #128 "Supporting large indexes - split the index into parts"
Maybe it is possible to have the index split into a configurable number of chunks. That along with a good caching policy in the browser could allow for much bigger indexes. I'll summarize below in an order of decreasing complexity and impact.

- Index chunking / sharding
- Preserving unmodified chunks when updating the index (will help with caching)
- "Save data" mode where the search can be trigg

[2021-01-12 14:29] jameslittle230 commented on #128
@stjepangolemac - thanks for writing in! These are all really great ideas and I definitely want to get to them at some point :)

James

[2021-01-12 22:57] jakearlen879 commented on #126
It's working now. I'm using Windows 10. Thank you for your help.

[2021-01-12 23:46] jameslittle230 commented on #126
Glad to hear it - thanks for getting back.

@em- This might be an unrelated bug on the demo site. Could you visit my personal site (https://jameslittle.me) and see if Stork works on that page?

I'm going to close this issue -- feel free to re-open it if there are continued Stork issues. If the bug is only present on the demo site, feel free to open a new issue on the site's repo: https://github.co

[2021-01-12 23:46] #126 closed

[2021-01-15 00:40] styfle opened #129 "Is stork published to npm?"
Step 2 from the [web instructions](https://stork-search.net/docs/interface) shows an embedded script:

[code]

1. Is this JS published to npm? What if we want to add it as a dependency to our project so its versioned?
2. Do the .wasm file and .js file need to be shipped together? Ideally the wasm file could be published to npm as well.

[2021-01-15 01:11] jameslittle230 commented on #129
Hi @styfle! Thanks for writing in.

Stork is not on NPM today. I hope to be able to publish it on NPM at some point, but I've focused on the minimal-installation use case for the 1.0.0 launch. I agree that being able to version the project would be useful for Stork's users.

NPM publishing is made complex by loading the WASM into the Javascript runtime. The Javascript library must reference a spec

[2021-01-15 18:33] styfle commented on #129
@jameslittle230 Another question for you:

Can I write my own JS to interact with the wasm file? I want to handle my own HTML and CSS, not using the defaults.

[code]

This seems to fail so I'm hoping you could provide the code to call into the wasm file (something thats not minified 🙂)

[2021-01-15 20:37] styfle commented on #101
I think self hosting is a great idea!

Vercel already supports the [correct content type](https://user-images.githubusercontent.com/229881/104775684-c20ea900-5746-11eb-90a6-500a5e8bb4d9.png) automatically.

This is not desirable because JS takes longer to parse than WASM.

I would prefer no JS and instead explain how invoke the wasm functions from JS.

[2021-01-15 21:08] styfle commented on #129
I inspected the storm.wasm file and found that I need to specify the imports object.

But both calls to register and search don't work.

[code]

[2021-01-15 22:01] jameslittle230 commented on #129
@styfle -

Building one's own JavaScript on top of Stork's WASM API isn't likely going to be a supported way of working with Stork; the two are meant to work together to manage the registration of an index.

The WASM API itself (including all the `wbg` methods) is built by [wasm-pack](https://github.com/rustwasm/wasm-pack). In order to work with the WASM API, you'll likely have to build Stork from

[2021-01-17 21:52] geekjr opened #132 "Is there a querry limit?"
When i run `stork --search` with a query that is above 7 characters, I get `thread 'main' panicked at 'index 8 out of range for slice of length 7'`. Is there a query limit of 7? If so, is the query limit removable?

[2021-01-17 22:31] jameslittle230 commented on #132
Hey @geekjr! Sorry you've been hitting this -- this is definitely a bug, there's no query length limit.

I'll look into this and try to fix it as soon as I can. If you could send your search index and your search query to me, that'd help me find & fix the bug faster -- you can attach it to this github issue or you can email it to me.

Thanks for reporting!
James

[2021-01-17 22:58] geekjr commented on #132
Hi,
Because the index is of internal data, I can't chare it. Sorry.

[2021-01-17 23:47] ggoodman commented on #11
This library looks amazing. Do you envision supporting a use-case where the index can be built programmatically? An example might be content that is dynamically generated and is never serialized to disk?

[2021-01-18 19:30] jameslittle230 commented on #11
@ggoodman - I don't think that's in scope for Stork, but I'm also not quite sure I understand what you mean.

If you wouldn't mind, could you open a new [Discussion](https://github.com/jameslittle230/stork/discussions) describing what you're envisioning? I'd love to help clarify the scope of Stork. (I don't think this issue is quite the right place for this, which is why I'm suggesting moving to D

[2021-01-18 19:35] jameslittle230 commented on #132
@geekjr - that's reasonable.

If possible, could you run the following command in your terminal and try the failing search again?

[code]

I think you'll be able to see a stack trace of the crash if you set that environment variable. If you could copy & paste that stack trace here, that would also help me find the bug!

(Feel free to redact any confidential information from the stack trace if you

[2021-01-18 22:04] jameslittle230 commented on #102
Hi all - I'm going to close this issue as solved when #131 is merged. #131 will add some new API methods to the Javascript `stork` object that lets you control when the WASM is downloaded, when the index is downloaded, and when the DOM elements are captured, all from within your JS surface. This would let you add a hover listener to some part of your page and hold off on making any network request

[2021-01-19 01:10] #132 closed

[2021-01-19 01:10] geekjr commented on #132
Hello. It just started working.

On Mon, Jan 18, 2021 at 2:35 PM James Little <notifications@github.com>
wrote:

[2021-01-19 23:50] jameslittle230 opened #136 "Add a prettierignore file"
From the [Prettier docs](https://prettier.io/docs/en/cli.html):

`prettier --write .` does _not_ do the right thing currently. There should be a prettierignore file so that Prettier only operates on the `/js` directory.

[2021-01-19 23:52] geekjr opened #137 "Way to limit how much ram Stork uses?"
Hi. I have a vm with 0.5GB ram that i will be using to built the stork index. The toml has 7k records. Is there a way to limit how much ram stork can use?

[2021-01-19 23:54] jameslittle230 commented on #137
@geekjr - Not currently, though this would be good to look into!

This might be made easier when sharding the index (#128) is possible. The indexer could index N records and write those records to disk until all the files are indexed, then merge the indexes together at the end.

[2021-01-19 23:56] geekjr commented on #137
How do i merge them? Do i just rerun build.

[2021-01-19 23:59] jameslittle230 commented on #137
Sorry - it's not possible to do this today, I was just thinking through how I might want to implement this.

[2021-01-19 23:59] jameslittle230 commented on #136
cc @healeycodes

[2021-01-20 00:01] geekjr commented on #137
Oh ok. Do you think its possible to limit the memory usage using `ulimit`?

On Tue, Jan 19, 2021 at 6:59 PM James Little <notifications@github.com>
wrote:

[2021-01-20 00:11] jameslittle230 commented on #137
There's no special handling for that, so you'd likely see the program panic.

[2021-01-20 00:12] geekjr commented on #137
Yes. That is what happened when I tried.

On Tue, Jan 19, 2021 at 7:11 PM James Little <notifications@github.com>
wrote:

[2021-01-20 05:35] healeycodes commented on #136
I'll take a look 😄

[2021-01-20 22:43] #136 closed

[2021-01-20 22:48] #102 closed

[2021-01-20 22:48] #101 closed

[2021-01-31 18:13] jameslittle230 opened #142 "Allow builder to take config from stdin"
I don't think [this discussion post's](https://github.com/jameslittle230/stork/discussions/134#discussioncomment-296416) idea is possible right now, but I'd like to build it!

[2021-01-31 18:17] jameslittle230 opened #143 "Intermittent CORS errors"
Opening this issue to track a few reports of intermittent CORS issues. I haven't been able to reproduce them, but I suspect that the CORS headers are being sent correctly when fetching files from Cloudfront, but not when fetching from S3 directly.

[2021-02-05 00:59] #142 closed

[2021-02-15 01:54] jameslittle230 opened #147 "An empty buffer should alert the user that their file isn't being indexed properly"

[2021-02-15 01:54] jameslittle230 opened #148 "When parsing HTML files, index images' alt text instead of blindly stripping the image away"

[2021-02-17 03:33] jameslittle230 commented on #129
Self-hosting support solves a lot of the immediate user need here, but Stork still isn't on NPM.

Unfortunately, hosting a run-in-the-browser, bundle-with-webpack type Javascript package on NPM isn't in my area of expertise, so I'm adding the `help-wanted` label with the hope that someone else can submit a PR that would let folks `npm install stork-search` and have it do the right thing.

Let me k

[2021-02-17 15:47] styfle commented on #129
It looks like you already published to npm here: https://www.npmjs.com/package/stork-search

Although it currently fails during install with the following:

[code]

Besides `cargo build` and `yarn build`, what other prep did you do to publish to npm vs your own website?

[2021-02-18 01:20] jameslittle230 commented on #129
The WASM library has to be built first, before running `yarn install`.

Running `yarn build` should get you what you want, I think.

[2021-02-18 17:50] styfle commented on #129
@jameslittle230 Theres a paradox here.

You can't run `yarn build` until you have dependencies.

[code]

But you can't run `yarn install` until the wasm pkg is built.

[code]

[2021-02-19 01:29] jameslittle230 commented on #129
Yup, that's not ideal.

I think I fixed that last night in this commit: https://github.com/jameslittle230/stork/commit/5d29d9bdba2eee57389885f4bd1759f5bb9baa76#diff-3d64996115d0ac3b74e36f57ce6b00d6b4982614c41b1ed39eab8ef43b2e9a2b

[2021-02-19 23:04] styfle commented on #129
@jameslittle230 That didn't work, still fails with `Package "stork-search" refers to a non-existing file`.

You can reproduce by doing the following:

[code]

[2021-02-21 14:49] monken commented on #15
CloudFront has native Brotli support. Is that not supported for your file types for any reason?

[2021-02-21 19:43] jameslittle230 commented on #15
@monken - the WASM file and the index are not served with the MIME types in the [File types that CloudFront Compresses](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html#compressed-content-cloudfront-file-types) list.

[2021-02-23 00:50] jameslittle230 commented on #129
Build scripts that rely on ordering are so tricky to develop on, since building the project slows down the debugging loop. Thanks for being patient.

I think I (really truly) fixed this with ac555b8786b8351f0f27732e3cf127dfae8e7736 -- I'm now able to build the entire project in a clean VM with the above reproduction commands. Let me know if it's working for you now.

[2021-02-25 03:46] #11 closed

[2021-02-25 03:46] #147 closed

[2021-03-02 21:57] styfle commented on #129
That does indeed work now 👍

What's the difference between `./pkg/stork_bg.wasm` and `./dist/stork.wasm`?

Does the `bg` represent something?

[2021-03-09 20:24] mrmartineau commented on #143
@jameslittle230 when viewing the demo, I experienced the CORS issue. Is there anything you'd like to know in order to help debug this?

[2021-03-10 03:05] jameslittle230 commented on #143
If you have a full [HTTP archive](https://en.wikipedia.org/wiki/HAR_(file_format)) (`Export as HAR` in the web inspector) for a failing request, that might help me debug?

[2021-03-10 13:22] mrmartineau commented on #143
Here you go: [stork-search.net.har.zip](https://github.com/jameslittle230/stork/files/6116104/stork-search.net.har.zip)

[2021-03-10 16:25] jameslittle230 commented on #143
Wow - thank you, @mrmartineau! I'll look into this.

[2021-03-19 04:38] daneroo opened #158 "Searching 73000-document-large index in Web causes Error: (Chrome 89)"
Your project is awesome!!!

I built a reasonably large index, ~73000 documents. (took about 48 minutes to build the index)

I filed this this issue as instructed in the console message:

If I find more details, I will amend or close and re-open a new issue.

This is error was in the developer tool console: (Chrome 89)
[code]

[2021-03-19 04:56] jameslittle230 commented on #158
Oh wow - you're hitting limits I've never seen before. Thanks for filing the issue, @daneroo.

If possible, could you send over a copy of your search index so I can debug? If that's not possible, maybe some statistics - how many files you're indexing, and what the total size of those files is?

Best,
James

[2021-03-19 05:56] daneroo commented on #158
Wow yourself! That was a pretty fast response.
I mostly filed the issue because of the comment in the console.

I just started using stork this afternoon, so I'll give you details as I get them.

Also, the HTML widget is rendered in a React App (actually Next,js), so I am not sure if I got the details right. (Making sure the registration happens only once, etc...
I'll have to look at your JS and c

[2021-03-19 15:36] jameslittle230 commented on #158
Gotcha - thanks for adding the details.

Not sure if this will be immediately helpful, but the Stork demo site is also a Next.js site, and [this component](https://github.com/stork-search/site/blob/master/src/components/stork.js) is what I wrote to make sure the index is only loaded once!

Can't wait to see it! Please let me know if you have any questions or feedback!

[2021-03-25 17:55] karlicoss opened #159 "suggesion: take anchors (id=) into the account during indexing HTML"
Was nice meeting you at the Fission demo! :)

A nice feature to have for a static site indexer is taking HTML anchors into the account. It would allow to suggest more specific results and jump straight to the occurrence (by using the `id` value)

- Roadmap: perhaps it's related to
  - "Build and publish some integrations with other projects" as many are generating anchors. So by running against ge

[2021-03-26 00:42] jameslittle230 commented on #159
I love it!! Definitely worth adding to the HTML indexer.

[2021-03-31 01:39] jameslittle230 commented on #89
@srid - Yeah! This issue is more about indexing different types of content parsed from HTML, but the idea of attaching metadata to specific entries is captured fairly well in #90.

The infrastructure is there to attach metadata to documents and even words within that document -- that's how Stork's SRT handling can link you right to the specific timestamp of the thing you search for. It's currently

[2021-03-31 15:08] jameslittle230 commented on #9
@netstx - This isn't possible today! The best way of working with Stork and a static site generator is outlined in [this documentation page](https://stork-search.net/docs/stork-and-netlify) -- I use Eleventy as the example instead of Hugo, but the principles are roughly the same.

More broadly, the open GitHub issue indicates that this feature doesn't exist yet, but that I'd like for it to be buil

[2021-03-31 17:15] netstx commented on #9
Thanks for letting me know!

[2021-04-01 19:40] ashutoshsaboo opened #163 "Filetype when passing contents to index, why is it required?"
Hi @jameslittle230 ,

Why does Stork require for filetype even when it's being passed with contents rather than path for index creation? With path, filetype seems fairly intuitive to require for since it needs to determine various parsing strategies etc before tokenizing. But with contents in the input, isn't the first part already done by the client? Then why require for filetype still in input?

[2021-04-01 23:51] jameslittle230 commented on #163
Hey @ashutoshsaboo! Thanks for writing in.

I think @reese has answered your question really well in the linked thread:

For example, I put raw HTML into the `contents` field for one Stork index I build, and I need to tell Stork that it should parse the `contents` as HTML instead of plaintext.

There might be an enhancement here where Stork assumes `PlainText` unless you specify otherwise, but I’d

[2021-04-01 23:52] #163 closed

[2021-04-02 17:11] jtbayly commented on #15
The index size is concerning to me as I consider using this. The size of the first 20 Federalist Papers is only 241KB. If the index is 1.13MB then the index is over 4 times the size of the indexed data.

I have a static site for a book where the text data is 1.1MB broken up into 22 files. If integrating search would add about 5MB to the page load size, it seems prohibitive.

On a related note, why

[2021-04-03 01:07] jameslittle230 commented on #15
@jtbayly - It's a fair point! Over time, I hope to be able to make improvements to the index file format to reduce their size.

The 20-file limit in the demo, though, is unrelated. To build the demo, I manually pulled each paper from the source and cleaned up the text by hand. I stopped doing that once I reached 20 because it ended up taking more of my time than it was worth.

[2021-04-23 03:57] jameslittle230 opened #167 "Stork 1.2.0 will sometimes display no results mysteriously"
<img width="702" alt="Screen Shot 2021-04-22 at 8 56 04 PM" src="https://user-images.githubusercontent.com/3058200/115816242-5d9a6000-a3ad-11eb-9253-106e6d3f5bde.png">

When I add a fourth letter to the query, the results array fills in.

[2021-04-27 02:57] jdambron opened #168 "Stork v1.2.0 failing on Netlify"
Hi.

v1.2.0 is failing on Netlify following the documentation.

I get the following error:

`/stork-ubuntu-latest: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found (required by ./stork-ubuntu-latest)`

I am using _Ubuntu Xenial 16.04 (default)_ to deploy my website.

Downgrading to v1.1.0 works.

[2021-04-27 05:35] jameslittle230 commented on #168
Oh no! Thanks for reporting. I think Github recently upgraded my GitHub Actions runner to Ubuntu 20.04, but Netlify is still using 16.04 for its build systems. I'll build a binary using 16.04 and replace the one on the CDN -- I'll let you know when that's finished.

Thanks again!
James

[2021-04-28 01:18] jameslittle230 commented on #168
@jdambron - I've updated the binary on the CDN and invalidated the cache. If you `wget https://files.stork-search.net/releases/v1.2.0/stork-ubuntu-latest`, it should return a binary that properly works on Netlify's build runners. Please reopen this issue and let me know if you're still having trouble.

<details>
<summary>More Details</summary>

I created a new binary named `stork-ubuntu-16-04` and

[2021-04-28 01:18] #168 closed

[2021-05-10 12:17] Erwan-le-Gall opened #171 "1.2.0 – main panick during index build"
Hi!
Thank you James for creating Stork, by the way.

When I run Stork 1.2.0 on Catalina:

The .toml file has French accents in it… (accessibilit**é** etc.)

I tried with _brew install stork_ and _download release_ with version = 1.2.0 and both have the same bug.

I downloaded the release v1.1.0 and it solved the problem.

Best regards.
Erwan

[2021-05-10 15:28] jameslittle230 commented on #171
Oh no! I'm sorry you're encountering this, @Erwan-le-Gall. I'll do my best to track down the bug and release 1.2.1 with a fix.

[2021-05-11 04:09] jameslittle230 commented on #171
I've reproduced the crash, and put up this PR that should fix it. I'll try to release that PR tomorrow. When I release 1.2.1, would you mind trying it out to make sure you're seeing a fix as well?

[2021-05-12 00:05] jameslittle230 opened #177 "Use CSS variables to power even more custom themes"

[2021-05-14 18:51] fliiiix opened #178 "Latest on ubuntu broken (github action runner)? v1.2.1"
It seems like the latest version (1.2.1) is broken on the github action ubuntu runner. (`Current runner version: '2.278.0'`)

Downloaded from here
[code]

fails with:
[code]

I just take 1.2.0 for the moment which still works so I guess it is a regression in the latest release.

Full run:
https://github.com/Binaergewitter/serious-bg/runs/2586240245?check_suite_focus=true

[2021-05-18 01:53] jameslittle230 commented on #178
Hm - thanks for writing in, sorry you're hitting this.

I had to switch the `releases/latest/stork-ubuntu-latest` binary back to an Ubuntu 16.04 binary to support the folks using Netlify's runners: Netlify uses Ubuntu 16.04 and when Github upgraded to Ubuntu 20.04, the binary stopped working for them. (#168) The naming doesn't make sense now, and I'm not happy with it.

To reduce confusion, I've a

[2021-05-18 06:47] fliiiix commented on #178
Seems perfectly fine for me. I switched to the new urls and everything seems fine.

Thanks for building and maintaining stork :tada:

[2021-05-18 06:47] #178 closed

[2021-05-18 10:06] NightMachinary opened #181 "[FR] add support for Algolia JSON indices"
I already have Algolia indices built for my site. If I could just plug those into `stork`, I could try it out with little friction. This will help the adoption of the project. It also reduces lock-in.

PS: [Here](https://notes.lilf.ir/algolia.json) is my Algolia index file, if you haven't seen the format.

[2021-05-18 14:54] jameslittle230 commented on #181
Thanks for submitting the feature request, @NightMachinary! I want to set expectations properly - this isn't something I'm interested in building myself, but if someone submits a PR for this I'd be more than willing to help get it merged.

[2021-05-29 18:44] make-github-pseudonymous-again commented on #128
Maybe this is relevant: https://github.com/phiresky/sql.js-httpvfs

[2021-05-30 17:41] millette opened #185 "npm package depends on itself"
Noticed on [npm](https://www.npmjs.com/package/stork-search) that stork-search depends on itself. See this line in `package.json`:

https://github.com/jameslittle230/stork/blob/007d6bd34a918f5ca7df48a011b267f219a78cfd/package.json#L73

See also #129

[2021-05-30 21:56] jameslittle230 commented on #185
Hey! Yeah, the NPM package isn't really meant for human consumption at this point. Going to mark this as a dupe of #129, since presumably when that gets fixed, this won't be an issue anymore.

[2021-05-30 21:56] #185 closed

[2021-06-10 01:00] shedali commented on #178
can't get this to work on github-actions with ubuntu 20.04, 18.04
`error while loading shared libraries: libssl.so.1.1: cannot open shared object file: No such file or directory`
have tried urls mentioned

[2021-06-12 07:56] fliiiix commented on #178
Idk but you can checkout our working example here: https://github.com/Binaergewitter/serious-bg/blob/master/.github/workflows/main.yml#L15

[2021-06-12 22:44] shedali commented on #178
thanks mate, the reference helped and it works fine for me. (fails in nektos/act locally but can raise different issue with that repo)

[2021-06-13 21:19] jameslittle230 commented on #178
Thanks for helping, @fliiiix!

[2021-06-24 07:51] MrGreenTea opened #186 "How can parts of the content be prevented from being indexed?"
Hi James, thanks for this great tool!
It works really well, but indexes more content than I want.
I've tried to extend the `html_selector` to only select elements I want to be indexed, but that caused problems with elements being indexed multiple times.

Is there a way to provide a selector blacklist or something similar?

[2021-06-25 17:31] pateketrueke opened #187 "Indexed code-blocks are malformed on excerpt"
If I have a `<pre>...</pre>` with some encoded HTML on it, i.e. `&lt;h1&gt;It works.&lt;/h1&gt;` its output on excerpts is `< h1 > It works. </ h1 >` with added white-space, but encoded HTML inside `<code>...</code>` but outside `<pre>...</pre>` gets rendered as expected.

[2021-06-26 02:16] jameslittle230 commented on #186
Hey @MrGreenTea! Thanks for writing in.

I'm not sure if what you're hoping for is possible today, but let me try putting together an example to see if I understand what you're saying. If I understand you correctly, you want a way to take a page like this:

[code]

and be able to index all the content inside the `article`, but not in the `div.no-index` -- does that sound correct?

If that's the ca

[2021-06-26 02:17] jameslittle230 commented on #187
Thanks for the bug report, @pateketrueke! I'll take a look at it and try to make this better in the next release.

[2021-06-26 18:53] MrGreenTea commented on #186
Yeah that sounds exactly right.

We are currently evaluating this for our documentation.
That includes a lot of examples our tool and its output, which is mostly structured Terminal Output with tables and things like that. Including that in the index and search is more confusing than helpful, so we would like to filter that out.
It also messes up the result list visually.

A smaller thing are the

[2021-06-29 15:33] jameslittle230 commented on #186
Makes sense! A selector-based denylist would be useful. I'll do my best to put it in the next release.

Thanks for the feature request! :)

James

[2021-07-06 00:38] zerodat opened #188 "cargo install stork-search failing on wasm_bindgen syntax"
This is a build or install problem that happens on both:

* cargo 1.51.0 and rustc 1.51.0 on FreeBSD 12.2
* cargo 1.46.0 and rustc 1.47.0 on Ubuntu 20.04

Trying to install using `cargo install stork-search` fails with the following error:

[code]
Oddly enough, if I instead clone the stork git repo, checkout `v1.2.1`, and build with `cargo build`, it works on both platforms.

[2021-07-06 21:03] petia-latinova opened #189 "The format of stork.js is different from the example"
Hi,

I downloaded the project because I wanted to fix the issue when the search crashes on very common word like "and" when you have too many results. I think I have success. It works from command line but I want to test it in my web project before give you the fix because i still don't know how will looks like. There I also have some questions about some limitations that's why I am still not sure

[2021-07-08 13:11] petia-latinova commented on #189
I think that the problem with building the stork.js file is because I tried to build it under macos. If is build under linux the file format is the same so maybe we need to close that issue. Sorry about that.

Best Regards,
Petia

[2021-07-11 21:06] jameslittle230 commented on #189
Hey @petia-latinova -- yeah, that's probably it.

Feel free to open a PR! Even if you can't build the project, I'm happy to help get it merged in. I'm appreciative that you'd take the time to make Stork better! I'm moving out of my apartment this week, though, and probably can't be very hands-on to help you get set up, so a PR (even if it's a little broken) would be the best way for you to get thi

[2021-07-15 08:58] petia-latinova commented on #189
Hi @jameslittle230,
I am not sure that there is need for PR.  I managed to make some small changes successful. They work good for me and I think that looks ok but maybe you can find better decision.

The fix for that issue:
https://github.com/jameslittle230/stork/issues/158

was to cut some functionality from the code for the title. I am not sure you'll like that one so I'll just send you the line

[2021-07-19 22:37] HKochniss commented on #188
I can confirm this, should look into this, it is annoying, the whole stork install process is a nightmare (wasted an hour) on Windows; WSL2 doesn't work (see error above), not everyone uses a Mac..

[2021-07-21 04:33] jameslittle230 commented on #188
@zerodat and @HKochniss - sorry you’re running into issues! I’ll do my best to make improvements here.

[2021-07-29 21:22] jasikpark opened #190 "Would it be possible to make `@stork/cli` on npm as an alternative installation method?"
I'd really like to work on a workflow for integrating stork with https://github.com/snowpackjs/astro [Astro](https://docs.astro.build) sites, but it'd be best if we didn't have to require people to install rust to use the tool, especially since a JS API for triggering an index build would make integrating it into a post-processing script easier.

[2021-07-29 21:30] jameslittle230 commented on #190
@jasikpark - yes, probably!

I'm not sure what that would entail, but I can look into it. I totally agree that having more accessible installation options would be beneficial for everyone.

Thanks for writing in!
James

[2021-07-29 21:38] jasikpark commented on #190
I imagine hopefully [rustwasm](https://rustwasm.github.io/) publishing could be helpful? I'm hoping to be able to call an API from javascript that I can pass a list of files, or a stream of data to build an index..

Idk what problems you might run into trying to compile the cli as a npm package, though the cloudflare workers cli has recently started supporting npm install, so that might be another

[2021-07-30 00:03] aFuzzyBear commented on #190
Hi @jameslittle230, I just wanted to say hi, after spending a couple of days looking over stork I must say, this is a very awesome wee package, unfortunately I'm not at all familiar with rust nor the underlying witchcraft used to make this wee package, but I would like to learn.

Coming back to Astro, I'm with @jasikpark, if there was a way to interact JS with the underpinnings of stork, we could

[2021-07-30 00:46] jasikpark commented on #190
I would say that we would probably want to make it so we could have an Astro plugin that integrates with the [Collections API](https://docs.astro.build/core-concepts/collections/) somehow + automatically calls stork from within the plugin after the site is done building, rather than being in the package.json?

[2021-08-02 17:47] YikSanChan opened #191 "Search in Chinese seems to be not working"
To reproduce:

- Visit https://github.com/YikSanChan/stork-demo/tree/zh-cn-not-working
- I build my index based on files in zh-cn/: `~/softwares/stork-macos-10-15 build --input ch.toml --output ch.st`
- I try queries (with >= 3 chars) like this: `~/softwares/stork-macos-10-15 search --index ch.st --query "朱元璋"`, but there's no result. I try many other Chinese words that you can find in the zh-cn/b

[2021-08-04 12:35] jameslittle230 commented on #191
Hi @YikSanChan - thanks for writing in, and sorry you're not seeing success with Stork. This sounds like a bug to me, and I'll look into what's going on!

To set expectations: my personal life is oddly busy these days, so I might not be able to provide help immediately, but I'll get around to it once things start to settle.

James

[2021-08-04 13:59] YikSanChan commented on #191
Hi @jameslittle230, that's totally fine, thanks for the info, and take your time.

[2021-08-16 13:58] airone506 commented on #148
Very good!

Besides the images' alt text, it makes sense to me to index images' `title` attribute value too. Or even the value of the `title` attribute of any element having this attribute.

[2021-10-08 21:28] jameslittle230 commented on #190
Hi, sorry it's so much later, but I'm cleaning up issues now. Three things:

1. I'm going to close this issue in favor of #129, since they're both describing the same sort of thing. I've added a nice long [comment](https://github.com/jameslittle230/stork/issues/129#issuecomment-939124208) in 129 describing my intentions for making Stork an NPM package.
2. That said, "Stork should accept JSON as an

[2021-10-08 21:28] #190 closed

[2021-10-08 21:31] jameslittle230 opened #198 "Stork should accept JSON as an input format"
Most static site build systems are written in languages that have good library support for serializing to JSON, and bad library support for serializing to TOML. The intention was never that folks do a lot of string interpolation to build a config file, and if Stork accepted JSON that might help people out.

[2021-10-08 22:03] jameslittle230 opened #200 "Not enough protections to prevent users from downloading WASM twice"
Hey James! I've done some more testing with Stork 1.2.1, and I've noticed a problem that I feel I can reliably reproduce.

If you download & expand the attached [`testsite.zip`](https://github.com/jameslittle230/stork/files/7294646/testsite.zip) file and follow the steps below, I'm hoping you will be able to reproduce it as well:

[code]

The following is representative of the errors I've seen whe

[2021-10-08 22:47] jameslittle230 commented on #189
@petia-latinova - sorry for the delay. I'm not sure if you're still having trouble/working with Stork, but in case you are, I'd like to answer your questions:

You may have found this, but you can increase the limit from ten files by changing the `displayed_results_count` configuration setting (scroll all the way down to the bottom of the [Configuration Reference](https://stork-search.net/docs/con

[2021-10-08 23:42] jameslittle230 opened #201 "TUI Index visualizer"

[2021-10-09 00:02] YikSanChan commented on #191
@jameslittle230 Hi James, I am so glad you treat this seriously and I am more than happy to provide as much info as I can.

This will be great. Why? Because sometimes a single Chinese character is a word. Probably that's why both Algoliasearch and Meilisearch provide such an experience. But there are **much more** words with > 1 character, compared to single-character words.

Yes, I will. It is le

[2021-10-09 04:45] justinmayer commented on #200
Many thanks for the quick response, @jameslittle230!

I think it may also be a documentation issue. (See below.)

If you look at the bottom of the [Self-hosting Stork](https://stork-search.net/docs/self-hosting) documentation, you'll see that the lines above were derived from that documentation. I'm not sure where the documentation source is located, but perhaps it should be updated to reflect the

[2021-10-09 18:18] jameslittle230 commented on #200
Thank you for pointing out the docs error! I'll get that fixed later today. Glad it started working well for you afterwards!:)

[2021-10-09 19:41] jameslittle230 opened #202 "Send a Slack message when CI passes or fails on a PR"

[2021-10-13 15:30] jameslittle230 opened #203 "Move away from Codecov bash uploader"

[2021-10-15 12:18] Aethon commented on #188
I spent a couple hours behind this issue trying to get `stork-search` installed on an Alpine image. (Didn't seem like such a big deal, _everything_ is hard to install on Alpine :P ) Anyway, long story short, I found this workaround that allowed to get it installed:

[code]

The `--locked` option is the key.
I haven't had time to look and see what version is floating and causing the grief, but I th

[2021-11-12 23:21] #159 closed

[2021-11-12 23:21] #200 closed

[2021-11-15 03:36] #75 closed

[2021-11-19 22:08] Aethon opened #207 "Stork command-line tool hangs waiting for input in some environments"
* On MacOS (not verified in other environments, but it seems to not have an issue on Alpine Linux)
* Calling stork from `Process.Start` in a dotnet command line project.
* Running that command line project via an MSBuild `Exec` task using `dotnet run`

Generally, I can run the project and it all works just right, including the call to `stork`. It only hangs when executed via the path above. Sampli

[2021-11-19 22:14] Aethon commented on #207
# Workaround

Looking at the code, it seemed harmless to provide some bogus standard input, since the program would only use it if `--input -` was specified. I had my code just write `"no input"` to stdin after the process started and everything worked as expected. C# code example:

[code]

[2021-11-19 22:35] jameslittle230 commented on #207
Hm - thanks for writing and for digging so deep on the issue! I'm planning a release this week and will try to get a fix for this in. Thanks so much!

James

[2021-11-19 22:53] Aethon commented on #207
Thank you. And THANK YOU for this gem of a tool.

[2021-11-19 22:55] jameslittle230 commented on #207
Please let me know if you have any feedback, feature suggestions, or any other thoughts as you're using it! :)

[2021-11-22 21:21] #177 closed

[2021-11-22 21:51] #207 closed

[2021-11-28 17:34] #203 closed

[2021-11-29 19:07] oiseaumanifesto commented on #188
Currently running Cargo 1.56.0 and rustc 1.56.1 (via Rustup) on FreeBSD 13.0-RELEASE-p4, building stork-search as described per the installation instructions would fail also in the same manner as OP's.

I used @Aethon's workaround (bumping the tag to v1.3.0), and it worked for me. Thank you so much!

Stork is a breath of fresh air and much better to use than the old Tipue plugin needed for search

[2021-11-30 03:05] jameslittle230 commented on #188
Thanks for the kind words!

Honestly, I'd love to get better at distribution, but it's not one of my strengths as a software builder. Whenever I try to figure out how to get Stork published in more places, I get a little overwhelmed and decide to work on something with a better ROI[^0]. (Even on macOS, my "home turf" platform, I haven't been able to figure out how to get [Homebrew](https://brew.sh

[2021-12-05 20:41] healeycodes opened #216 "Add stork.js.map to S3 files, or remove sourcemap from JS artifact"
Hi!

I'm getting this on my personal site but it looks like this is reproducible on https://stork-search.net/

1. Visit https://stork-search.net/
2. Check developer console

[code]

[2021-12-11 22:20] jameslittle230 commented on #216
Yup - this is a good callout. I'll upload the sourcemap to the CDN but will poke at Webpack a bit  more to figure out how to not fetch the sourcemap in the first place.

[2021-12-12 10:41] healeycodes opened #217 "Searching too early returns zero results"
If a user finishes typing while Stork is 'loading' the dropdown says "No files found." (even after everything _has_ loaded) but if the user backspaces, or enters more characters, then the correct results will show.

## Video

https://user-images.githubusercontent.com/34559231/145709075-1e2743b5-733a-421d-b890-03b75c26e9ec.mov

This is reproducible today at https://healeycodes.com/articles or at ht

[2021-12-19 10:24] deining opened #218 "Executable name mismatch on master: help text says stork and executable is called `stork-cli`"
Following the documentation, I tried to build `stork`:

[code]

Compilation fails, however:

[code]

My environment:

- Windows 10 pro x64, Version 21H1 (Build: 19044.1415)
- cargo 1.57.0 (b2e52d7ca 2021-10-21)
- npm 8.30
- wasm-pack 0.10.2

I didn't give up, cloned the stork github repo at HEAD and issued `cargo build`. This time with more luck, compilation was successful, so I guess my build env

[2021-12-19 10:36] deining commented on #218
Uups, I was bit fast with my comment. Inside my repo, I just checked out reviosion at tag v1.3.0 and built the project again. Now the exectuable is named `stork.exe`, sorry for the noise. Are you planning to change it to `stork-cli.exe`? If so, you could adapt the name in the synopsis.

[2021-12-19 16:05] jameslittle230 commented on #218
👋 Thanks for checking out Stork!

This sounds like two independent issues, if I understand correctly:

* A build issue with `cargo install`, which looks like a duplicate of https://github.com/jameslittle230/stork/issues/188
* The command line help text refers to the executable name as `stork-cli` instead of `stork`

I'm tracking the build issue in #188 above, and I think a few other folks have com

[2021-12-19 17:29] #198 closed

[2021-12-19 19:54] deining commented on #218
Yes, this is a duplicate. I didn't see the existing ticket, sorry.

Adding the `--locked` worked for me and solved my problem. As this problem isn't solved yet, I think we should mention this in the `installation` section of the documentation.

[2021-12-23 16:12] ArsenArsen opened #223 "SRI integrity"
Hey!

Is it possible to add an integrity option to `stork.initialize`, so that someone using a fixed release of Stork can pin it by hash, to catch any malicious activity before it happens? Similar to HTMLs native SRI:

[code]

[2021-12-26 20:01] healeycodes opened #224 "Development guide relies on private repository"
While following the [Building the project for development](https://github.com/jameslittle230/stork/blob/6905a8dca2e1c47bf7a25666897e68ec7c6963f0/readme.md?plain=1#L154) steps from the README, I get blocked due to a private repository – https://github.com/stork-search/3b1b/

Running `just build-dev-site`:

[code]

OS: M1 (arm64)
Node: v17.3.0
Rust: rustc 1.57.0 (f1edd0429 2021-11-29)

[2021-12-31 01:23] jameslittle230 commented on #224
Thanks for the report. I had to clarify with Grant Sanderson that publicly publishing subtitle files of his videos fell within acceptable use of his videos' license. After getting that clarification earlier, I've made [the repository public](https://github.com/stork-search/3b1b/).

[2021-12-31 01:23] #224 closed

[2021-12-31 17:05] jameslittle230 commented on #223
This is a really good idea. I'll add this in a future release.

Thanks!
-James

[2022-01-02 17:52] deining opened #227 "Panic in `fill_containers.rs:116` when indexing URL in markdown content"
I'm trying to index some markdown-files, and stork is crashing during index generation:

**Stacktrace:**

[code]

**My environment:**

- Windows 10 pro x64, Version 21H1 (Build: 19044.1415)
- cargo 1.57.0 (b2e52d7ca 2021-10-21)
- npm 8.30
- wasm-pack 0.10.2
- HEAD of `stork` repo

[2022-01-02 17:59] jameslittle230 commented on #227
Sorry that you're experiencing this crash!

I'm looking at the panicking line, and it might be one single word in one single file causing the crash. Could you send the markdown file that's causing the issue to me, either here or to my email `stork@jameslittle.me`?

[2022-01-02 19:49] deining commented on #227
Thanks for your quick response!

Don't worry!

Bingo. I could track it down, and the offending line/word inside my markdown file is an URL:

[code]

[2022-01-02 20:13] jameslittle230 commented on #227
Nice, thanks for tracking that down. I'll get started on a PR to fix this.

Just so I know where to focus - is the URL "bare" within the text, or is it within a link? In other words, does the document look like this:

[code]

or is it like this:

[code]

[2022-01-02 20:27] deining commented on #227
Thanks for your commitment!

Yes. The URL is inside a code block:

[code]

However, currently `stork` crashes on the URL on a single line (without fenced code block, as given in my [previous comment](https://github.com/jameslittle230/stork/issues/227#issuecomment-1003768938)), too.

[2022-01-03 01:37] #227 closed

[2022-01-03 01:37] jameslittle230 commented on #227
This is now fixed in master, and will be part of the next minor release, 1.4.0! Thanks again for the report :)

[2022-01-03 01:51] jameslittle230 commented on #189
@petia-latinova - I'm going to close this issue because I don't think it represents a bug report or feature request. If you have a bug report or feature request, please feel free to reopen this issue or file a new one. If you want to chat more about the project, please feel free to open a Github Discussion!

Best,
James

[2022-01-03 01:51] #189 closed

[2022-01-03 01:58] #218 closed

[2022-01-03 12:26] deining opened #230 "Panic in fill_containers.rs:115 when indexing URL in markdown content"
Thanks for resolving #227, I can confirm the fix resolves the issue reported by me yesterday.

However, I still cannot successfully generate the index: when trying to index another markdown-file, `stork` is crashing again during index generation:

**Stacktrace:**

[code]

This stripped minimal example shows the offending part of my markdown file. Again, a very long URL (>128 chars) is involved. If

[2022-01-03 12:29] jameslittle230 commented on #230
Oh no! I'll take another pass later today and fix that too.

[2022-01-03 13:01] deining commented on #230
Thanks!

I just checked that there are no further offending markdown files are present in my project, and everything looks good 😃
While doing so, I came across another issue, however. The success message I got is given below:

[code]

In the last line, there should be a line break so that `Index built, ...` is on its own line.
Also, I'm wondering why the warning about a missing `main` selector is

[2022-01-04 01:56] jameslittle230 commented on #230
Fixed in #231.

I'll take a look at that error message!

[2022-01-07 00:32] jameslittle230 commented on #230
I've fixed the duplicate error message in #222 - thanks again for the reports!

[2022-01-07 00:32] #230 closed

[2022-01-12 01:11] easrng commented on #15
It might be a better idea to add fflate support (small and fast gzip/zip/deflate compressor and decompressor) so no extra server configuration is needed, since stork seems to be mostly for static sites.

[2022-01-13 20:09] aFuzzyBear opened #236 "Bug in how the title highlighter handles document titles with no spaces"
Hi Jamie,

Sorry for not getting back to your message, at the time I was that distant from this project I had nothing of note to add. However I did decide to give your wee project another shot, since the UI Framework I was seeking to implement this with has became more mature and stable,

I managed to get Strok installed with little effort, my first cargo package 🥳
I must ask if there is a way for

[2022-01-14 00:46] jameslittle230 commented on #236
@aFuzzyBear,

I'm having trouble understanding what you're saying -- let me try to summarize (and please let me know if I've misinterpreted or left something out):

1. You're curious where Cargo is putting the binary after building the Stork crate so you can move it into a different directory and eventually use it in a NodeJS environment
2. You're seeing a WASM bug, and the logs you're seeing have

[2022-01-14 00:49] jameslittle230 opened #237 "Perform search on a web worker"

[2022-01-14 01:25] aFuzzyBear commented on #236
Ah sorry James, my mistake, wont happen again,
Thank you for getting back to me so quickly,  with regards to the issue about the runtime panic, I can appreciate that this might raise a bug, I can try to format the string better on my end and see if that makes any difference.

In regards to the first issue, you are correct, I am curious to see how this plays out, in terms of deployment etc, I only

[2022-01-14 01:30] aFuzzyBear commented on #236
I was wondering if my index was being compiled correctly, It appears as so it is, however if there is something else that might be tripping it up on my end, please do let me know,
My Thanks again,

[2022-01-14 01:31] jameslittle230 commented on #236
Nope, I think you're using Stork totally correctly, this is just a bug in the highlighter!

Thanks for submitting the bug report, I appreciate it :)

James

[2022-01-14 01:34] aFuzzyBear commented on #236
Thank you for your efforts and labour, I really like this wee project, it must be the picture of the stork, idk.
Please do let me know when version `1.4` is out, looking forward to it =)

[2022-01-17 02:23] jameslittle230 opened #240 "Remove PAT from checkout scripts now that stork-search/3b1b is public"

[2022-01-17 16:15] jameslittle230 commented on #216
It looks like [I don't have to worry about](https://github.com/facebook/create-react-app/issues/2005#issuecomment-296390495) an extra sourcemap fetch taking place, which means the only remediation here is to automatically upload the sourcemap to the CDN when publishing a new version. I've added the sourcemap listing to the upload script [here](https://github.com/jameslittle230/stork/pull/239/files

[2022-01-17 16:15] #216 closed

[2022-01-17 16:27] jameslittle230 opened #242 "Pretty search output format should highlight matches in titles"

[2022-01-17 16:30] jameslittle230 commented on #236
Note to self: was able to repro the panic by using the attached index and searching for `animate`. The IntermediateExcerpt holds a word_index of 2.

[2022-01-17 16:38] jameslittle230 opened #244 "Tracking issue for highlighting oddities"

[2022-01-17 16:40] jameslittle230 commented on #244
Highlight offsets are incorrect when searching for "anim" given the attached index

<img width="644" alt="Screen Shot 2022-01-17 at 11 39 03 AM" src="https://user-images.githubusercontent.com/3058200/149808147-c2f3bd09-6e16-4256-9f04-aad2061df7ed.png">

[xelement.st.zip](https://github.com/jameslittle230/stork/files/7883475/xelement.st.zip)

[2022-01-17 17:31] #236 closed

[2022-01-17 18:18] aFuzzyBear commented on #236
Hi James, I notice you closed the PR, does this mean that this wee problem has been fixed? If so would I need to do anything to apply it or do anything different?
Also thank you for getting this fix together, I really appreciate it

[2022-01-17 18:30] jameslittle230 commented on #236
The bug is fixed in the master branch, and will be released in 1.4.0 later today.

[2022-01-17 18:40] jameslittle230 opened #246 "Add a dry run deploy GH action that's runnable on any PR"

[2022-01-18 00:53] aFuzzyBear commented on #236
excellent, thank you for this, I really appreciate it, Ill post back with results, and hopefully be able to demonstrate it working =)

[2022-02-01 00:33] jameslittle230 opened #247 "React library for Stork"
If you're writing a site that uses React, you should be able to `npm install` something and get access to Stork from the frontend.

I'm imagining an API like:

[code]

The `searchResults` variable would bind to an object that could hold an array of results, a number to indicate loading progress, and other bits of state. Ideally you'd be able to build the entire managed UI from the state you get fr

[2022-02-03 15:07] ezekg opened #248 "Add note on a Content Security Policy that is WASM-compatible"
I was hitting some hard to debug WASM load issues in Chrome because I was using a restrictive CSP:

[code]

This resulted in the following rather confusing WASM load error:

[code]

Apparently, in Chrome, you have to [add `wasm-unsafe-eval` or `wasm-eval`](https://github.com/WebAssembly/content-security-policy/issues/7) to load WASM:

[code]

One bummer is that, as far as I can tell, [this is curr

[2022-02-05 01:44] jameslittle230 commented on #248
Interesting! I'll actually move this issue to the [docs site repository](https://github.com/stork-search/site) and get to adding something soon.

[2022-02-15 22:25] healeycodes commented on #247
This would fit my use case. I have a static blog and want to use the managed UI via React (but might want to roll my own UI in the future).

I'm not sure how to handle errors (let's say, a missing `*.st` file) in the initial example above. I'm guessing that `useStork` would throw and users could wrap `MySearchComponent` with an [error boundary](https://reactjs.org/docs/error-boundaries.html).

Ove

[2022-02-22 15:34] jameslittle230 opened #249 "WASM isn't being served from Cloudfront with `application/wasm` content type"
Full error:

[code]

[2022-02-24 00:52] jameslittle230 commented on #223
While I'm in there, I want to investigate [the strict-dynamic CSP directive](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#strict-dynamic) to see if it can be used to more securely allowlist WASM execution in an otherwise restrictive CSP.

[2022-02-28 14:30] #248 closed

[2022-03-07 10:22] lioman opened #250 "Use stopword lists to reduce index size and improve search results"
To keep the search index clean and small and improve search results it would be good to have the possibility to remove common words from index. Examples would be something like this, that, a, and or ein, eine, weil, dass, der, die, das for German based indices.

For most sites it would decrease the size of index and would improve search results. For the search term "and" we would not return ”and h

[2022-03-10 14:46] ArsenArsen opened #251 "Regression: stdin no longer read"
https://github.com/jameslittle230/stork/blob/b83157ff56dc5856703697674e9d59ad44cdcf67/stork-cli/src/io.rs#L16

See also: https://github.com/jameslittle230/stork/commit/9b629994307fb885474c757aecc98a92f7521153

[2022-03-11 00:58] jameslittle230 commented on #250
This is a good idea - I'll incorporate it into a future release. Thanks!
-James

[2022-03-11 03:10] jameslittle230 commented on #251
Thanks for the report - I can reproduce and will have a fix up as soon as I can.

[2022-03-11 03:11] ArsenArsen commented on #251
thanks! <3

[2022-03-12 20:17] #251 closed

[2022-03-14 00:07] jmooring commented on #250
Resource: [NLTK stopwords by language](https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/stopwords.zip) (25 languages)

On a per language basis, _my_ high level "want" is:

1. Provide a default list so I don't have to think about it. Result --> `foo` `bar`
2. Provide a mechanism to disable one or more items from the default list: Result --> `foo`
3. Provide a mechanism to

[2022-03-14 09:00] lioman commented on #250
To simplify things, I think the first approach should be just to add a list. Including the NLTK list would be nice, but basically adding the whole list by myself is the feature you always need at the end. So I would start with that and perhaps include ease of use features later.

[2022-03-14 23:16] ArsenArsen commented on #249
I believe the CDN would need to return a `application/wasm` content type instead of an octet-stream to fix this.

[2022-03-15 17:13] jameslittle230 commented on #249
Yup, definitely. I think the missing context here is that I'm specifying an `application/wasm` content type in my [script that uploads files to the CDN](https://github.com/jameslittle230/stork/blob/master/scripts/upload_build_artifacts.py#L66), but that content type isn't being plumbed through the infrastructure correctly.

If I had to guess, it's something goofy with my Cloudfront setup, but I ha

[2022-03-15 17:35] jmooring opened #260 "Compensate for border radius when displaying progress bar"
This is a very minor UI issue, but it's actually the first thing I noticed.

<img src="https://user-images.githubusercontent.com/335669/158437089-a28b5b66-65f1-46de-a41d-0f602e4086f2.jpg" alt="screen capture" width="30%">

This is easily addressed with `max-width` and `margin-left` in the affected themes. I will submit a PR.

[2022-03-15 20:49] ArsenArsen opened #261 "Reproducible build output"
Currently, build outputs inconsistent results. This makes diffing for errors among other things harder. I'm unsure what the builds depend on (time maybe?).

[code]

[2022-03-15 20:51] ArsenArsen opened #262 "--output - trims resulting index"
[code]

Related to #261. This makes it impossible to use stork as a filter. Notably, `/dev/stdout` does not have the same issue, implying this is an issue with how Rust opens stdout.

[2022-03-16 22:42] jameslittle230 commented on #261
Interesting. I can reproduce this and will work on fixing it. Builds should be consistent and (as far as I know) have no dependence on time. I suspect that this is due to a list somewhere getting serialized with an undefined order.

[2022-03-16 22:50] ArsenArsen commented on #261
I didn't consider that since I'd expect FS order to be stable-ish. I expected it to be some hash function being seeded with randomness or something of that nature. But sorting the order of the output is a very good idea regardless (since FS order is unstable across machines at the very least).

[2022-03-17 21:58] #260 closed

[2022-03-19 19:00] #261 closed

[2022-03-20 20:09] jameslittle230 opened #267 "Compress index byte blob internally"

[2022-03-21 18:47] ankrgyl opened #268 "Confusing error message if HTML selector does not match the document for a single document config"
I was trying to index an HTML document which does not have a `main` tag, and the error message looks something like this:

[code]

Digging around a bit, it seems like `IndexGenerationError::NoValidFiles` doesn't retain the context for why there are no valid files. However, if you have at least one valid file in the ToML file, then you get a more helpful error:

[code]

Would it be possible to incl

[2022-03-21 19:50] jameslittle230 commented on #268
Good call - thanks for the comprehensive report. Stork has, in the past, done a better job of displaying the errors it encountered if it couldn't parse any files, but I think there was a regression somewhere along the way.

I'll get to this before releasing the next version.

Best,
James

[2022-03-21 19:53] ankrgyl commented on #268
Awesome, thank you!

[2022-03-21 19:57] ankrgyl opened #269 "Test server does not appear to work"
I am sure I am missing something... so apologies if there is somewhere obvious I should have figured this out. I was attempting to use `stork test` on my newly generated search index, and I encountered a few different issues:

1) The [documentation](https://stork-search.net/docs/build) suggests that you use `stork test --input`; however, the command line appears to want `--config` or `--index`:

[

[2022-03-21 23:13] jameslittle230 commented on #269
Thanks - this was broken for a few different reasons. I put up a PR to fix it and the test server should be working in the next version.

[2022-03-22 01:22] jameslittle230 commented on #262
I'm unable to reproduce this, unfortunately:

[code]

however, I suspect that merging https://github.com/jameslittle230/stork/pull/272 will fix this issue. If you're able, could you pull that branch, build Stork locally, and retry your test?

[2022-03-22 01:23] #269 closed

[2022-03-22 01:51] #268 closed

[2022-03-22 10:57] ArsenArsen commented on #262
[code]
The above is unpatched. For some reason, the Federalist Papers example reproduces this issue a lot less (I had to use uniq to reduce the non-wrong result spam).

Patched:
[code]

It'd appear flushing does not help (IIRC, I tried this myself after opening the issue anyways).
For some reason, though, `STORK-262/fix-write-to-stdout` is insanely slow.

Please try this on a glibc system (such as

[2022-03-22 13:06] jameslittle230 commented on #262
Weird - thanks for checking. I'll be sure not to merge #272 if it makes things too slow.

When you were reproducing it with your own config, was it producing index files that were bigger or smaller than the Federalist Papers example?

I'll keep working on a repro and check back in.

There's no chat set up for the project - I haven't had a need to spin something like that up yet, and I don't yet ha

[2022-03-22 16:57] ArsenArsen commented on #262
Flush alone should't, I think this was just system load. I can't reproduce it now. Even when reverting the BTreeMap changes I only get a 13% increase in speed (builds per second).

I was under the impression I included my results - my bad!
Considerably smaller.

[code]

This just gets weirder, I am now unable to reproduce it with the flush.
This issue would seem to be fixed now?
Well, at any rate,

[2022-03-23 23:13] jameslittle230 opened #277 "Write contributing.md"
Project's getting some eyes. Help people figure out how to get started, if they want!

[2022-03-29 22:08] ezekg opened #279 "How to configure Stork to ignore <pre> tags?"
My company's [documentation](https://keygen.sh/docs/api/) has a lot of `<pre>` tags containing code snippets, and Stork seems to be indexing all of these. Is there a way for me to configure Stork to ignore `<pre>` and possibly even `<code>` tags? I tried setting `exclude_html_selector = 'pre'` and also tried `exclude_html_selector = 'pre, code'` but neither seem to have an effect.

I'm guessing th

[2022-03-30 02:11] jameslittle230 commented on #279
Hmm, that's not great. I'll take a look and see if `exclude_html_selector` stopped working at some point, and make sure it works with pre tags. Thanks for the report :)

-James

[2022-03-30 14:51] ezekg commented on #279
It seems to happen when there are more than 1 `.noindex` tag on a page.

Here's a reproducible test case:

[code]

[code]

When you run `stork test --config stork.toml`, the word `DO_NOT_INDEX` will be indexed once.

Possibly related to https://github.com/kuchiki-rs/kuchiki/issues/81 and Stork's usage below?

https://github.com/jameslittle230/stork/blob/4d301cd641a09ccd9e7964182b0513761dc3c20b/sto

[2022-03-30 19:17] ezekg commented on #279
Here's a failing test for `stork-lib/src/index_v3/build/fill_intermediate_entries/word_list_generators/html_word_list_generator.rs`:

[code]

[2022-04-02 21:35] #279 closed

[2022-04-04 13:02] ezekg commented on #279
Thanks for the fix! All `.noindex` tags are now ignored, and our search index is down to 25MB uncompressed. 🖖

[2022-04-04 13:04] jameslittle230 commented on #279
That's great to hear!

[2022-04-04 23:27] jameslittle230 commented on #267
https://github.com/jameslittle230/stork/pull/280 adds a good implementation of this (reduces index sizes to 25% of what they were) but this seems blocked on #237, since uncompressing the index within the WASM code causes deadlock within the webpage.

[2022-04-04 23:30] jameslittle230 opened #282 "Determine if there are index size enhancements possible if `excerpts_per_result` is 0"
https://stork-search.net/docs/config-ref#excerpts_per_result

[2022-04-05 00:48] jameslittle230 commented on #282
There are!
- If `excerpts_per_result` is 0, we can write 0 excerpts to each result's excerpts vec
- If `excerpts_per_result` is 0, we can write the result's contents as an empty string

Note that we can't only write `excerpts_per_result` excerpts to each result's excerpts vec, because scoring those excerpts only takes place during search, so we don't know which ones we can shed at build time.

[2022-04-13 22:19] jameslittle230 commented on #237
I tweeted about this, but wanted to update the Github issue with the limitations with web worker operations, as I see them:

I'd like Stork to run operations (like searching, but also like decompressing a compressed blob) on web workers. However, I don't want to pass a huge search index across JS <-> WASM or between main thread and web workers more than once. The way to have shared memory between

[2022-04-15 03:21] alexkehayias opened #285 "Could not parse data from wasm_search"
I wasn't able to repeat the error after reloading the page but I noticed the following in the console.

(Web page source [here](https://notes.alexkehayias.com/search/))

[code]

[2022-04-19 00:44] jameslittle230 opened #288 "Remove progress bar from -lib crate"

[2022-04-19 00:46] jameslittle230 opened #289 "Fail CI if you print to stdout/stderr"
- Any invocation of `println!()` or `eprintln!()` from within the -lib crate should be banned
- Any invocation of `dbg!()` anywhere should be banned

Prior art: https://gitlab.torproject.org/tpo/core/arti/-/merge_requests/123/diffs

Blocked on #288

[2022-04-24 18:57] #282 closed

[2022-04-25 01:02] userJY opened #290 "Build search index on .md with specific list content crashes"
`./stork-ubuntu-20-04 build --input "./docs/searchindex.toml" --output "./docs/storksearch.st" `

Crashes when building a search index on markdown files with specific content:

* It fails if there is a space right after a list index, `1. ` AND some text below the list.
* It also fails if there is a space right after a unordered list index, `* `  AND some text below the unordered list.
* It works i

[2022-04-25 01:03] jameslittle230 commented on #290
Oh no! Thanks for the bug report. I'll investigate this and make sure it's fixed for the next release.

[2022-04-27 00:00] #290 closed

[2022-04-29 07:32] aleclarson commented on #16
👀

[2022-05-02 05:38] kdheepak opened #292 "Odd `<mark>...</mark>` ranges"
I'm using the latest `stork`

[code]

This is an example of the snippet in the search result when the search query is "neovim":

[code]

You can see that when backticks are involved, the `mark` seems to exclude the last letter of the search result:

<img width="930" alt="Screen Shot 2022-05-01 at 11 30 22 PM" src="https://user-images.githubusercontent.com/1813121/166188562-dc756631-12b2-433e-913e-

[2022-05-04 11:34] Jieiku opened #293 "Does Stork support CJK languages?"
Does Stork support CJK languages? (Chinese, Japanese, and Korean)

I am interested in using Stork for Zola. I proposed it here: https://github.com/getzola/zola/issues/1849

It was mentioned that there may not be specific stemmers/stopword lists for languages other than English?

[2022-05-05 00:50] jameslittle230 commented on #293
I'm going to migrate this to a Discussion and continue there - hope that's okay.

[2022-05-05 01:03] jameslittle230 commented on #292
Thanks for the detailed report! I'll look into this and see if I can make improvements here. As far as I know, this bug is coming into play because there's a hyphen in the word being searched, and some parts of Stork treat a hyphen as a word separator (like a space) whereas others do not.

[2022-05-05 01:04] jameslittle230 commented on #285
Hm - thanks for the report. You should never see this, and I'm hoping this was just a one-off blip. If you're able to reproduce this, please reopen the bug. :)

[2022-05-05 01:04] #285 closed

[2022-05-05 01:08] kdheepak commented on #292
It's possible it is related to hypens, but it also occurs elsewhere. For example, if I search for `vimrc`:

<img width="1187" alt="Screen Shot 2022-05-04 at 7 06 56 PM" src="https://user-images.githubusercontent.com/1813121/166850400-f4797733-ef1d-45f9-be67-ba675c66bb67.png">

It always occurs for text in `<mark></mark>` tags.

[2022-05-05 01:09] jameslittle230 commented on #292
Ah - might be more than just hyphens, might be all punctuation.

I'll take a look.

[2022-05-05 01:14] kdheepak commented on #292
Thanks! Great job on stork btw!

[2022-05-08 17:18] ThatGuySam commented on #129
Microlink hosts an npm package for the youtube-dl binaries called youtube-dl-exec

It looks like they use a `postinstall` node script to download the binary from the official distribution channels:
https://github.com/microlinkhq/youtube-dl-exec/blob/master/scripts/postinstall.js

It gets triggered from [package.json](https://github.com/microlinkhq/youtube-dl-exec/blob/36dffe1d75a327b7e02383a353291

[2022-05-09 16:39] ThatGuySam commented on #129
We can also pull the latest release assets, such as the `stork.wasm` and `stork-ubuntu-20-04`, from GitHub the same way `youtube-dl-exec` does:
https://api.github.com/repos/jameslittle230/stork/releases?per_page=1

[2022-05-09 16:39] jil-stripe commented on #129
Ah, that's brilliant! I'll look into that!

[2022-05-10 19:06] styfle commented on #129
You can use `optionalDependencies` where each one represents a different binary for a different platform.

See Next.js for an example of `optionalDependencies`:

https://unpkg.com/browse/next@12.1.6/package.json

And look at one of the deps to see how `os` and `cpu` are used:

https://unpkg.com/browse/@next/swc-darwin-x64@11.1.2/package.json

[2022-05-10 19:46] jameslittle230 commented on #129
(I had responded from an incorrect Github account earlier)

This is great - thanks, both, for outlining a path forward here. I think this will work as expected, and I'll start exploring this as soon as I can.

[2022-05-10 22:47] neirbowj opened #296 "Enable macOS installation via MacPorts"
This feature request is to ship Stork via [MacPorts](https://guide.macports.org/chunked/project.contributing.html) for macOS users who do not also use Homebrew.

[2022-05-11 02:23] jameslittle230 commented on #296
This is a fair feature request. I don't know anything about MacPorts. I can take a crack at this when I have a moment, but if anyone else feels more motivated to contribute a MacPorts Stork Search listing, please feel free.

[2022-05-11 22:24] #292 closed

[2022-05-12 16:11] ThatGuySam commented on #129
@jameslittle230 Here's an in-progress download script that's working on macOS and Netlify Ubuntu:
https://github.com/ThatGuySam/doesitarm/blob/7318de945d754433add70896777b6a56b007c594/helpers/stork/executable.js

For some reason, it gives me trouble when I try to run the executable to build the index from Node so I ended up running it via the [package.json](https://github.com/ThatGuySam/doesitarm/

[2022-05-20 16:20] jameslittle230 commented on #292
This has been fixed in #297! It'll be released in version 1.5.0, which will be released as soon as I get a moment where I have time to do so!

[2022-05-20 16:21] kdheepak commented on #292
Awesome! No hurry on my end!

[2022-06-06 18:56] sonologic opened #301 "error: there is no argument named `html_output`"
As per the instructions I wanted to install stork by executing:

`cargo install stork-search --locked`

But that gives a build error:

[code]

Details about my os and environment:

[code]

[2022-06-07 00:56] jameslittle230 commented on #301
Hi @sonologic! This is syntax [introduced in Rust 1.58.0](https://blog.rust-lang.org/2022/01/13/Rust-1.58.0.html), which was released on January 13 2022. You'll need to run `rustup update stable` - then Stork should compile if you try again.

[2022-06-16 16:38] GeeWizWow commented on #247
As a primary React developer, I would welcome the above API, but...

I can't help but feel that given the current status of the project, a better first step might be to expose a framework agnostic Javascript API, as well as providing a wrapper around the CLI tool to better integrate with the build pipelines used in the Javascript ecosystem (webpack?)

That would provide solid foundations for the b

[2022-06-16 16:50] jameslittle230 commented on #247
@GeeWizWow - I want to make sure you've seen the [Stork Javascript API](https://stork-search.net/docs/js-ref) for embedding Stork search interfaces on web pages - the React library I'm describing here would effectively wrap around this VanillaJS library.

You might be hoping to see a Stork Javascript API for _building search indexes_? That's definitely something I'm interested in, but haven't scop

[2022-06-16 17:37] GeeWizWow commented on #247
@jameslittle230 Those are exactly the things I wanted to see 🙏 Thanks for the links

[2022-07-05 18:12] jameslittle230 opened #305 "Release process publishes a version of Stork to Homebrew that doesn't have test server support"

[2022-07-29 15:25] kkwteh opened #308 "Option to find files automatically instead of having to specify them in config file"
It would nice to be able to point the stork command line program to a directory and have it create the index automatically without having to create the config file that lists all of the file objects.

In each of my html files, I already have title and url data inside meta tags and the title tag, and Stork should be able to just parse these out of the document automatically.

[2022-07-29 23:02] jameslittle230 commented on #308
Hi @kkwteh, thanks for submitting this feature request! I'm going to close it as a duplicate of https://github.com/jameslittle230/stork/issues/9, but I'll remember that you wanted it and prioritize accordingly!

[2022-07-29 23:02] #308 closed

[2022-08-05 17:34] Jieiku commented on #101
Just wanted to add that you can self host stork easily by adding this to the bottom of your stork.js file:

[code]

[2022-08-10 15:16] pReya opened #310 "Error on Stork website: Transparent search dropdown after navigation"
Hey there,

I've found a bug on the Stork website that happens under Firefox 104 and macOS 12.5. Reproduction:

1. Go to https://stork-search.net/ and type something into the search box and wait for results to appear
2. Head to another subpage (e.g. "Documentation")
3. Head back to the start page

You will see that the search box is still open, and the keyword is still there, however the backgroun

[2022-08-14 14:38] jilleJr commented on #262
Hello I'm experiencing the same as we're trying to implement Stork into Emanote (https://github.com/EmaApps/emanote/pull/327).

When using `--output -` the index becomes "corrupted"/unusable.

To repro:

1. Clone https://github.com/jilleJr/notes
2. Run this snippet to generate an ad-hoc config file:
[code]
3. Build the index:
[code]
4. Attempt a search:
[code]

(Using Stork v1.5.0 btw)

[2022-08-14 16:13] jameslittle230 commented on #262
@jilleJr - thanks for the repro steps. I'll take a look later today and report back what I find.

[2022-08-14 16:15] jameslittle230 commented on #310
@pReya - Oh no! Thanks for the bug report. I'll take a look when I can.

James

[2022-08-16 19:19] fingolfin opened #312 "Problem finding stems occurring with a possessive apostrophe"
Try searching for "Burgh" or "Hume" on https://stork-search.net in the federalist papers. It shows zero matches. Yet on https://www.gutenberg.org/files/1404/1404-h/1404-h.htm#link2H_4_0016 it says

and elsewhere

I would expect this to be found?

[2022-08-16 19:21] fingolfin commented on #312
I also got zero hits searching for `Abbé` which occurs in `l'Abbé` but I am not sure whether that's the same issue or relate to the accent?

[2022-08-21 17:05] Kristinita opened #313 "bug(windows): error: linking with x86_64-w64-mingw32-gcc failed: exit code: 1"
### 1. Summary

I can’t compile Stork on Windows. I get error:

[code]

### 2. Steps to reproduce

You can see the configuration in the [**`KiraStork` branch**](https://github.com/Kristinita/SashaTravis/tree/KiraStork) of my GitHub repository for debugging:

[code]

### 3. Behavior

#### 3.1. Current

See [**AppVeyor output**](https://ci.appveyor.com/project/Kristinita/sashatravis/builds/44532228#

[2022-08-24 12:35] jameslittle230 commented on #313
@Kristinita - sorry to hear you're having trouble!

As background information: I use Github Actions to build all the published binaries for different platforms.

I don't use Windows and I don't have any experience debugging Windows linker errors, so I'm not sure I'll be able to find an immediate fix for you. I'd be more than happy to publish a Windows binary, but the last time I looked into this I

[2022-08-24 13:52] Kristinita commented on #313
**Type: Reply** 💬

@jameslittle230

### 1. Stork compilation CI problems

I was able to compile Stork on my Windows machine. But for the Circle CI Windows environment [**I also get the bug**](https://app.circleci.com/pipelines/github/Kristinita/SashaPelicanDebugging/14/workflows/3df6440e-7fd2-452a-810e-60a3fab6b019/jobs/14/steps).

AppVeyor and Circle environments both successfully compile Stork o

[2022-08-27 05:56] Kristinita opened #316 "feature_request(output): show all results"
### 1. Summary

It would be nice, if would be possible to display all search results by click/tap.

### 2. Example of expected behavior

The user types text in input field of Stork → gets more results than in setting `displayed_results_count` → now if he clicks to `Show all results`, all found results will be shown (20 in the example below).

![Show all results](https://i.imgur.com/MGNaZpc.png)

#

[2022-08-27 06:04] Kristinita commented on #313
@jameslittle230 , please let me know if there is anything I can do to help with this issue. I have a lot of debugging experience (more than 1100 issues [**only for GitHub**](https://github.com/issues?q=is%3Aissue+author%3AKristinita+is%3Aopen)) and maybe I can be of some help to Stork for Windows.

Thanks.

[2022-09-09 18:00] neirbowj commented on #296
This is my first attempt at a new MacPorts port, and I know only a little more than nothing about Rust, so I would welcome any feedback on macports/macports-ports#16067.

[2022-09-10 17:40] neirbowj commented on #296
My pull request was merged. It should become possible shortly to install it via

[code]

[2022-09-10 20:22] jameslittle230 commented on #296
Wonderful! Thank you, @neirbowj!

[2022-09-10 20:22] #296 closed

[2022-09-14 17:44] mmlkrx commented on #277
Hey James, just wanted to +1 this as I'm currently trying out stork for a tiny side project and noticed some outdated documentation. If you need inspiration, feel free to take a look at [Zulip's contributing.md](https://github.com/zulip/zulip/blob/main/CONTRIBUTING.md). Obviously it's a much larger open source project, but cherry picking what applies to stork could be a good start :)

(Personally

[2022-09-18 18:06] lorenzoh commented on #178
I have run into this issue again, but it seems to be a packaging-related issue with Ubuntu 20.04. The following worked for me, so I figured I'd post in case someone else has this issue again:

[code]

As discussed in this [StackOverflow thread](https://stackoverflow.com/questions/72133316/ubuntu-22-04-libssl-so-1-1-cannot-open-shared-object-file-no-such-file-or-di)

[2022-09-26 21:05] srid opened #317 "API: allow using a local `.wasm` file"
**Problem**: The `stork.js` generated in releases is hardcoded to use `https://files.stork-search.net/releases/v1.5.0/stork.wasm`

**Desired behaviour**: I'd like `stork.js` to use a local `stork.wasm` file. i.e.: `https://example.com/stork.js` should use `https://example.com/stork.wasm` automatically.

**Implementation approach:** I could pass the wasm URL (`/stork.wasm` for the above example) ex

[2022-09-26 21:08] jameslittle230 commented on #317
I believe Stork already supports this!

You can initialize Stork with a self-hosted WASM file. Then, any subsequent operations will use that WASM binary to operate.

You can read more about this on the [Self-hosting documentation page](https://stork-search.net/docs/self-hosting).

Let me know if you have any more questions, or if that documentation page doesn't work for you.

[2022-09-26 21:09] srid commented on #317
Ah, nice! I should have read the documentation first :-) I'll try this out now ...

[2022-09-26 21:16] srid commented on #317
Okay, so it does work as far as the API goes - but it ends up loading _both_ the local and remote wasm:

<img width="495" alt="image" src="https://user-images.githubusercontent.com/3998/192382013-84743f29-825b-4301-9bd8-5d91254e5064.png">

[2022-09-26 21:17] srid commented on #317
Could this be because `register` is calling `initialize`, which loads the default wasm URL (the second one in the screenshot above) in addition to the local one that is loaded when I call `register`? The code I have:

[code]

[2022-09-26 21:18] jameslittle230 commented on #317
Interesting! Maybe there's a bug.

If you just call `initialize()`, does it load both WASM files?

What happens if you call the "split" API:

[code]

[2022-09-26 21:23] srid commented on #317
If I do that, I see it loading the remote WASM twice:

<img width="495" alt="image" src="https://user-images.githubusercontent.com/3998/192382721-750577d6-9a3b-4266-af7e-fb103421cae8.png">

The above behaviour was for this code:

[code]

It still loads both local and remove wasm:

<img width="495" alt="image" src="https://user-images.githubusercontent.com/3998/192383009-a2bdefb3-55c3-412f-9aab-aa8

[2022-09-26 21:36] jameslittle230 commented on #317
Hm - I'm having trouble reproducing it. When I call your original code in a Codepen, I'm only seeing one WASM blob load.

![Screenshot 2022-09-26T17 33 52@2x](https://user-images.githubusercontent.com/3058200/192384948-c502ca98-16fc-41fa-98d0-03af757d24a9.png)

https://codepen.io/littleguy230/pen/poVpyQm

Are you sure this is the only time your code is interacting with Stork? No other calls to `in

[2022-09-26 21:57] srid commented on #317
You are right; the issue is not with stork per se. It is to do with some other library I'm using, specifically, https://github.com/patrick-steele-idem/morphdom (used in route switch to replace HTML fast), which https://ema.srid.ca/ (used in Emanote) uses.

I confirmed it by checking the fully statically generated website, which does work per instructions at https://stork-search.net/docs/self-hosti

[2022-09-26 21:57] #317 closed

[2022-09-26 21:57] srid commented on #317
I'm guessing morphdom is double-loading `stork.js` which somehow loads the default wasm when initialize/register is not called in time?

[2022-09-30 16:38] jameslittle230 opened #319 "Add contributing.md"
https://github.com/jameslittle230/stork/issues/277

[2022-09-30 16:39] #319 closed

[2022-09-30 16:44] jameslittle230 commented on #301
Closing since I believe this has been resolved. Feel free to reopen it if you're having any further issues!

[2022-09-30 16:44] #301 closed

[2022-09-30 16:44] jameslittle230 commented on #289
Closing - this should be implemented with lint rules

[2022-09-30 16:44] #289 closed

[2022-11-17 16:55] franchb commented on #91
Hi!

I want to share my workaround for self-hosted Stork for Antora.

After Antora static HTML generation we could parse `sitemap.xml`, extract all `.html` files and document titles and generate `.toml` configuration for stork.

Here is my sample Python script:

[code]

Next, run `stork build --input docs.toml --output ./supplemental_ui/search_index.st`.

Add stork to partials:

supplemental_ui/pa

[2022-11-17 22:00] kukimik opened #322 "Add stork.js.map to github release assets"
Hello! Could you please include the source map file `stork.js.map` in the github release assets? Currently the file is [available via CDN](https://github.com/jameslittle230/stork/issues/216), but not in the [github release](https://github.com/jameslittle230/stork/releases/tag/v1.5.0). When one uses the files provided in the github release, it is easy to miss it, which in turn results in the missin

[2022-11-26 13:30] KronosTheLate opened #323 "Search required 3 chars to return results, but appear to load with 1 and 2"
Original issue can be found at https://github.com/MakieOrg/Makie.jl/issues/2004.
Below is a copy of the original issue for convenience.

One and two character searches stay like this:
<img width="252" alt="image" src="https://user-images.githubusercontent.com/61620837/171182376-1c22b21b-9b56-4d03-b2b7-ef5d3baaa16d.png">

The moment i enter a third char, the result pops up.
It should not appear to

[2022-11-28 00:03] jameslittle230 commented on #322
Good catch - thanks! I've added the map file to the release, and I'll change the release process to make sure that the map file is added in future releases.

-James

[2022-11-28 00:03] #322 closed

[2022-11-28 00:06] jameslittle230 commented on #323
This is an intentional design decision - I felt like when the UI remained unchanged, it didn't signal to users that they should keep typing to get results.

I'm curious what you expected/hoped to see? Did you expect that the UI remain blank until the user types 3 characters? Or did the word "Filtering" mislead you about what Stork is doing?

[2022-11-28 08:39] KronosTheLate commented on #323
Fair enough - it is honestly not terrible, and took me all of two seconds to figure out.
I just feel like it would be better to - as you mentioned - show nothing, which 1) does not lie (how I view it, no to be inflamitory), and it does essentially the same. It is just the active word "filtering", along with the three dots that indicate something unfinished, that make me believe that the system is